<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
</head>

<body>
    <div class="aboutGarageSally-container" id="aboutGarageSallyPartial">

        <button onclick="aboutGarageSallyHandler()"> &lt; back</button>

        <h1 class="hidden">About Garage Sally</h1>

        <div class="logoVersion">
            <footer>
                <img src="img/Assets/logoGray.png" alt="">
                <p>v2.2.2</p>
            </footer>
        </div>

        <header>
            <img src="img/Assets/garageSallyFounder.png" alt="">
            <div>
                <h2>Hello, my name is</h2>
                <h2>Luis Cardona</h2>
            </div>
        </header>

        <main>
            <p>I am the founder of garage sally and want to thank you for using garage sally to post, find, and share
                garage sales in your community.</p>
            <p>The idea for garage sally came from my beloved wife and I want to dedicate this web app to her and thank
                her for believing in me.</p>

            <p>My goal for this web app is to connect people that love garage sales together.</p>
            <p>I will be posting the latest updates for garage sally on my <a
                    href="https://www.linkedin.com/company/garagesally" target="_blank">LinkedIn Page</a>. If you have
                any questions please feel free to message me. </p>
        </main>

    </div>
</body>

</html>