<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <script>
        $(document).ready(function () {


            $('#SearchZipCode').submit(function (event) {
                event.preventDefault();
                if (!navigator.geolocation) {
                    alert(`Your browser doesn't support Geolocation`);
                }
                document.querySelector("#IndexSearchResults").style.display = "grid";

                let Zipcode = document.querySelector("#ZipCodeValue").value
                let County = "no county"
                let State = "no state"



                console.log("search", typeof Zipcode)

                $.getJSON(`https://app.zipcodebase.com/api/v1/search?apikey=d4c1e590-8034-11ec-8466-0d7faea78a60&country=us&codes=${Zipcode}`, data => {
                    console.log(data, "data is here")

                    if (data.results.length === 0) {
                        console.log("not a valid zip code!")
                        return
                    } else {

                        console.log(County, "Before API")
                        County = data.results[Zipcode][0].province
                        State = data.results[Zipcode][0].state_code
                        console.log(County, "After API")


                        let jsonData = {
                            zipcode: Zipcode,
                            county: County,
                            state: State

                        }

                        console.log(jsonData)

                        $.ajax({
                            type: "GET",
                            url: '@Url.Action("SearchResultsZipcode", "Home")',
                            data: jsonData,
                            success: SuccessStatusZipcode,
                            error: ErrorStatusZipcode,
                            complete: CompleteStatusZipcode
                        })
                    }
                });

            });




            const SuccessStatusZipcode = (result) => {

                console.log("You have sucessfuly searched...", result);
                if (result.data === "no sales") {

                    $('#HomeSearchResults').empty();

                    let zipcode = document.querySelector("#ZipCodeValue").value;
                    console.log("no garage sales in this zip code.")
                    $(`<li>
                        <section>
                              <footer>
                                <h3></h3>
                                 <p>There are currently no garage sales listed in your community ${zipcode}. Stay informed get an email notification when there is a garage sale near you.</p>
                            </footer>
                            <main>
                               <button onclick="SignInDirectionsHandler(event)">email</button>
                                @* <p>20 people visted.</p> *@
                            </main>
                        </section>
                    </li>`).prependTo("#HomeSearchResults");
                    return
                }
                RenderZipcodeSearch(result);




            };
            const ErrorStatusZipcode = (xhr, status, strErr) => {
                console.log("There was an error when searching!");
            };
            const CompleteStatusZipcode = (xhr, status) => {
                console.log("Search has completed...");
            };



            const RenderZipcodeSearch = (data) => {

                $('#HomeSearchResults').empty();

                $.each(data.data, function (i, v) {
                    console.log("Value", v)
                    const TimeFormat = {
                        hour12: true,
                        hour: "numeric",
                        minute: "numeric", seconds: "numeric"
                    }
                    const DateFormat = {
                        weekday: "long",
                        month: "long",
                        day: "numeric"
                    };
                    const CheckDateFormat = {
                        year: "numeric",
                        month: "long",
                        day: "numeric"
                    };
                    let dateFormated = new Date(v.startDate).toLocaleDateString("en-US", DateFormat);
                    let startTimeFormatted = new Date(v.startTime).toLocaleTimeString("en-US", TimeFormat);
                    let endTimeFormatted = new Date(v.endTime).toLocaleTimeString("en-US", TimeFormat);


                    $(`<li id="${v.garageSaleId}">
                        <section>
                            <header>
                                <h1>${dateFormated}</h1>
                                <h2>${startTimeFormatted}-${endTimeFormatted}</h2>
                            </header>
                              <footer>
                                <h3> ${v.city} ${v.state}</h3>
                                <h2 class="hidden">${v.county}</h2>
                                <p>${v.description}</p>
                            </footer>
                            <main>
                               <button onclick="SignInDirectionsHandler(event)">Directions</button>

                                @* <p>20 people visted.</p> *@
                            </main>
                        </section>
                    </li>`).prependTo("#HomeSearchResults");

                });
            };

        })




    </script>
</head>

<body>


    <div class="search-container" id="searchPartial">

        <header>
            <form id="SearchZipCode">
                <input type="number" name="" id="ZipCodeValue" placeholder="zip code:" autofocus>
                <button>Search</button>
            </form>
        </header>

        <main id="IndexSearchResults">
            <div class="allGaragePost-container">
                <div class="cardItems">
                    <ul id="HomeSearchResults">

                    </ul>
                </div>
            </div>
        </main>

    </div>



</body>

</html>