<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <script>
        $(document).ready(function () {


            $('#SearchZipCode').submit(function (event) {
                event.preventDefault();
                if (!navigator.geolocation) {
                    alert(`Your browser doesn't support Geolocation`);
                }
                document.querySelector("#IndexSearchResults").style.display = "grid";

                let Zipcode = document.querySelector("#ZipCodeValue").value

                console.log("search", typeof Zipcode)



                var jsonData = {
                    zipcode: Zipcode,
                }

                console.log(jsonData);

                $.ajax({
                    type: "GET",
                    url: '@Url.Action("SearchZipCodeHandler", "Home")',
                    data: jsonData,
                    success: SuccessStatusZipcode,
                    error: ErrorStatusZipcode,
                    complete: CompleteStatusZipcode
                })

            })

            const SuccessStatusZipcode = (result) => {
                console.log("You have sucessfuly searched...");
                LoadSearchZipecode();
            };
            const ErrorStatusZipcode = (xhr, status, strErr) => {
                console.log("There was an error when searching!");
            };
            const CompleteStatusZipcode = (xhr, status) => {
                console.log("Search has completed...");
            };


            const LoadSearchZipecode = () => {

                $('#HomeSearchResults').load("/SearchResultsZipcode #HomeSearchResults", data => {
                    data = JSON.parse(data);
                    if (data.data.length === 0) {
                        let zipcode = document.querySelector("#ZipCodeValue").value;
                        console.log("no garage sales in this zip code.")
                        $(`

                        <li >
                        <section>

                              <footer>
                                <p>You are the first person to discover Garage Sally in your community ${zipcode} :) there are currently no garage sales listed. Follow us on social media to see what state we are currently marketing in.</p>
                            </footer>
                            <main>

                            <a  href="https://www.linkedin.com/company/garagesally" target="blank">
                               <button> follow </button>
                               </a>
                            </main>
                        </section>
                    </li>

                        <li >
                        <section>

                              <footer>
                                <p>Help build a garage sales community by telling your neighbors, friends, and family about Garage Sally.</p>
                            </footer>
                            <main>
                               <button onclick="SignInDirectionsHandler(event)">share</button>
                            </main>
                        </section>
                    </li>

                        <li >
                        <section>

                              <footer>
                                <h3></h3>
                                <p>Be the frist to post a garage sale. Create a free account and start posting.</p>
                            </footer>
                            <main>
                               <button onclick="SignInDirectionsHandler(event)">register</button>

                                @* <p>20 people visted.</p> *@
                            </main>
                        </section>
                    </li>`).prependTo("#HomeSearchResults");
                        return
                    }
                    RenderZipcodeSearch(data);

                });
            };



            const RenderZipcodeSearch = (data) => {
                $.each(data.data, function (i, v) {
                    console.log("Value", v)
                    const TimeFormat = {
                        hour12: true,
                        hour: "numeric",
                        minute: "numeric", seconds: "numeric"
                    }
                    const DateFormat = {
                        weekday: "long",
                        month: "long",
                        day: "numeric"
                    };
                    const CheckDateFormat = {
                        year: "numeric",
                        month: "long",
                        day: "numeric"
                    };
                    let dateFormated = new Date(v.startDate).toLocaleDateString("en-US", DateFormat);
                    let startTimeFormatted = new Date(v.startTime).toLocaleTimeString("en-US", TimeFormat);
                    let endTimeFormatted = new Date(v.endTime).toLocaleTimeString("en-US", TimeFormat);
                    let checkDate = new Date(v.startDate);
                    let checkToday = new Date();
                    checkToday.setDate(checkToday.getDate() - 1);

                    let garageItemId = v.garageSaleId;

                    if (checkDate < checkToday) {
                        console.log("this event has expired")
                    } else {
                        $(`<li id="${garageItemId}">
                        <section>
                            <header>
                                <h1>${dateFormated}</h1>
                                <h2>${startTimeFormatted}-${endTimeFormatted}</h2>
                            </header>
                              <footer>
                                <h3> ${v.city} ${v.state}</h3>
                                <p>${v.description}</p>
                            </footer>
                            <main>
                               <button onclick="SignInDirectionsHandler(event)">Directions</button>

                                @* <p>20 people visted.</p> *@
                            </main>
                        </section>
                    </li>`).prependTo("#HomeSearchResults");
                    }
                });
            };



            $('#SearchCityForm').submit(function (event) {
                event.preventDefault();
                if (!navigator.geolocation) {
                    alert(`Your browser doesn't support Geolocation`);
                }
                document.querySelector("#IndexSearchResults").style.display = "grid";

                let City = document.querySelector("#CitySearch").value
                let State = document.querySelector("#StateSearch").value


                console.log("search", typeof Zipcode)


                var jsonData = {
                    city: City,
                    state: State,

                }

                console.log(jsonData);

                $.ajax({
                    type: "GET",
                    url: '@Url.Action("SearchCityHandler", "Home")',
                    data: jsonData,
                    success: SuccessStatus,
                    error: ErrorStatus,
                    complete: CompleteStatus
                })

            })
            const SuccessStatus = (result) => {
                console.log("You have sucessfuly searched...");
                LoadSearchCity();

            };
            const ErrorStatus = (xhr, status, strErr) => {
                console.log("There was an error when searching!");
            };
            const CompleteStatus = (xhr, status) => {
                console.log("Search has completed...");
            };

            const LoadSearchCity = () => {

                $('#HomeSearchResults').load("/SearchCityResults #HomeSearchResults", data => {
                    data = JSON.parse(data);
                    if (data.data.length === 0) {
                        let city = document.querySelector("#CitySearch").value;
                        let state = document.querySelector("#StateSearch").value;


                        console.log("no garage sales in this zip code.")
                        $(`

                         <li >
                        <section>

                              <footer>
                                <p>You are the first person to discover Garage Sally in your community ${city} ${state} :) there are currently no garage sales listed. Follow us on social media to see what state we are currently marketing in.</p>
                            </footer>
                            <main>

                            <a  href="https://www.linkedin.com/company/garagesally" target="blank">
                               <button> follow </button>
                               </a>
                            </main>
                        </section>
                    </li>

                        <li >
                        <section>

                              <footer>
                                <p>Help build a garage sales community by telling your neighbors, friends, and family about Garage Sally.</p>
                            </footer>
                            <main>
                               <button onclick="SignInDirectionsHandler(event)">share</button>
                            </main>
                        </section>
                    </li>
                        <li >
                        <section>

                              <footer>
                                <p>Be the frist to post a garage sale. Create a free account and start posting.</p>
                            </footer>
                            <main>
                               <button onclick="SignInDirectionsHandler(event)"> register</button>


                                @* <p>20 people visted.</p> *@
                            </main>
                        </section>
                    </li>`).prependTo("#HomeSearchResults");
                        return
                    }
                    RenderSearchCity(data);

                });
            };


            const RenderSearchCity = (data) => {
                $.each(data.data, function (i, v) {
                    console.log("Value", v)
                    const TimeFormat = {
                        hour12: true,
                        hour: "numeric",
                        minute: "numeric", seconds: "numeric"
                    }
                    const DateFormat = {
                        weekday: "long",
                        month: "long",
                        day: "numeric"
                    };
                    const CheckDateFormat = {
                        year: "numeric",
                        month: "long",
                        day: "numeric"
                    };
                    let dateFormated = new Date(v.startDate).toLocaleDateString("en-US", DateFormat);
                    let startTimeFormatted = new Date(v.startTime).toLocaleTimeString("en-US", TimeFormat);
                    let endTimeFormatted = new Date(v.endTime).toLocaleTimeString("en-US", TimeFormat);
                    let checkDate = new Date(v.startDate);
                    let checkToday = new Date();
                    checkToday.setDate(checkToday.getDate() - 1);

                    let garageItemId = v.garageSaleId;

                    if (checkDate < checkToday) {
                        console.log("this event has expired")
                    } else {
                        $(`<li id="${garageItemId}">
                        <section>
                            <header>
                                <h1>${dateFormated}</h1>
                                <h2>${startTimeFormatted}-${endTimeFormatted}</h2>
                            </header>
                              <footer>
                                <h3> ${v.city} ${v.state}</h3>
                                <p>${v.description}</p>
                            </footer>
                            <main>
                               <button onclick="SignInDirectionsHandler(event)">Directions</button>
                                @* <p>20 people visted.</p> *@
                            </main>
                        </section>
                    </li>`).prependTo("#HomeSearchResults");
                    }
                });
            };



        })




    </script>
</head>

<body>


    <div class="search-container" id="searchPartial">


        <header>


            <form id="SearchCityForm">
                <input type="text" name="" id="CitySearch" placeholder="City">
                <partial name="_StateListSearch" />

                <input type="text" name="" id="StateSearch" placeholder="State" value="AL" class="hidden">

                <button>Search</button>
            </form>

            <form id="SearchZipCode">
                <input type="number" name="" id="ZipCodeValue" placeholder="zip code">
                <button>Search</button>
            </form>

            <aside>
                <button id="zipcodeBTN" onclick="SearchTypeHandler(event)">zip code</button>
                <button id="cityBTN" onclick="SearchTypeHandler(event)">city</button>

            </aside>
        </header>

        <main id="IndexSearchResults">
            <div class="allGaragePost-container">
                <div class="cardItems">
                    <ul id="HomeSearchResults">

                    </ul>
                </div>
            </div>
        </main>

    </div>



</body>

</html>