<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Overview</title>
    <script>
        $(document).ready((e) => {
            @* alert("ajax for overview is working!!") *@

        })
    </script>
</head>

<body>
    <div class="Overview-Container" id="overviewPartial">
        <section>
            <h2>Sellers</h2>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Unde perferendis omnis voluptas dolores,
                officiis
                repellat vitae necessitatibus porro fugit earum quaerat mollitia sit? Eius alias ducimus culpa eligendi
                eaque
                neque!</p>


        </section>
        <section>
            <h2>Buyers</h2>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Unde perferendis omnis voluptas dolores,
                officiis
                repellat vitae necessitatibus porro fugit earum quaerat mollitia sit? Eius alias ducimus culpa eligendi
                eaque
                neque!</p>

        </section>

        <section>
            <h2>All Sales</h2>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Unde perferendis omnis voluptas dolores,
                officiis
                repellat vitae necessitatibus porro fugit earum quaerat mollitia sit? Eius alias ducimus culpa eligendi
                eaque
                neque!</p>
            <ul id="AllGarageSalesOverviewList"></ul>

        </section>

        <section>
            <h2>New Sales</h2>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Unde perferendis omnis voluptas dolores,
                officiis
                repellat vitae necessitatibus porro fugit earum quaerat mollitia sit? Eius alias ducimus culpa eligendi
                eaque
                neque!</p>

        </section>


    </div>
</body>

</html>