<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div class="Overview-Container" id="overviewPartial">
        <h1>This is the overview</h1>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Unde perferendis omnis voluptas dolores, officiis
            repellat vitae necessitatibus porro fugit earum quaerat mollitia sit? Eius alias ducimus culpa eligendi
            eaque
            neque!</p>

    </div>
</body>

</html>