<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Overview</title>


    <script>

        const NewSalesOverviewHandler = (e) => {

            let check = document.getElementById("SalesBySateTitle").innerHTML;

            if (check != "Sales by State") {
                document.getElementById("SalesbySateList").style.display = "grid";
                document.getElementById("SelectedSateZipcodeList").style.display = "none";
                document.getElementById("SalesBySateTitle").innerHTML = "Sales by State";
                return
            }

            document.getElementById("SalesbySateList").style.display = "none";
            document.getElementById("SelectedSateZipcodeList").style.display = "grid";
            document.getElementById("SalesBySateTitle").innerHTML = e.target.title

            let userSateSelected = e.target.id;
            let jsonData = {
                state: userSateSelected,
            }
            console.log(jsonData)
            $.ajax({
                url: '@Url.Action("GetZipCodeBySate", "Home")',
                type: 'GET',
                data: jsonData,
                success: SuccessStatusZipcode,

            })
        }

        const SuccessStatusZipcode = (result) => {
            console.log("all is well in zipcode ajax call")
            console.log(result)
            $('#AllZipeCodeByState').empty();
            RenderZipcode(result);
        };

        const RenderZipcode = (data) => {
            $.each(data.data, function (key, value) {
                console.log("zipecode data:", key, value)
                $(`<li>
                        <h3 id="${key}" onclick="CountyHandler(event)">${value.county}</h3>
                        <h3 id="${key}">${value.city}</h3>
                        <h3 id="${key}" onclick="ZipcodeHandler(event)">${value.zipcode}</h3>

                </li>`).appendTo("#AllZipeCodeByState");

            });

        };




        const MenuHandler = (e) => {
            if (e.target.id === "OverviewPartialBTN") {
                document.getElementById("overviewPartial").style.display = "grid"
                showMainMenu()
                document.getElementById("mainMenu").style.left = "95vw";

                $(document).ready((e) => {
                    $.get("/GetAllUsersForOverview ", data => {
                        RenderAllUsersOverview(data);

                    })

                    $.get("/GetSalesByState", data => {
                        RenderSalesByStateData(data);
                    })



                    $.get("/GetAllUsersByState", data => {
                        RnderAllUserByState(data);
                    });




                    @* $('#BuyersOverviewList').load("/GetBuyersForOverview #BuyersOverviewList", data => {
                            data = JSON.parse(data);
                            console.log(data)
                            }) *@
                })

            }

        }

        const RnderAllUserByState = (data) => {
            $.each(data.data, function (key, value) {
                @* console.log(key, value) *@
                    $(`<li>
                        <h3 id="${key}">${key}</h3>


                </li>`).appendTo("#UserByStateList");

            });

        };


        const RenderSalesByStateData = (data) => {
            $.each(data.data, function (key, value) {
                $(`<li>
                        <h2>${value[0]}</h2>
                        <h3>${value[1]}</h3>
                        <h3 id="${key}" title="${value[0]}" onclick="NewSalesOverviewHandler(event)">${value[2]}</h3>
                </li>`).appendTo("#AllSalesByStateOverview");

            });

        };

        const RenderAllUsersOverview = (data) => {
            $.each(data.data, function (key, value) {
                @* console.log("All Sellers:", key, value) *@

                    let AcccountType = "";
                if (value.accountType == 0) {
                    AcccountType = "Buyer Account"
                }

                if (value.accountType == 1) {
                    AcccountType = "Seller Account"
                }



                $(`<li>
                        <div>
                        <h2 id="${key}">${AcccountType} from ${value.state}</h2>
                        <h2 id="${key}">${value.email}</h2>
                        </div>

                        <div>
                            <h2 id="${key}">${value.county}</h2>
                            <h2 id="${key}">${value.city}</h2>
                            <h2 id="${key}">${value.zipcode}</h2>
                        </div>


                        </li>`).appendTo("#AllUserOverview");

            });

        };


        const CountyHandler = e => {
            console.log(e.target.id);

            let CountySelected = e.target.innerHTML;
            let jsonData = {
                county: CountySelected,
            }
            console.log(jsonData)
            $.ajax({
                url: '@Url.Action("GetEmailsByCounty", "Home")',
                type: 'GET',
                data: jsonData,
                success: SuccessGetEmaisByCounty,

            })
        }


        const ZipcodeHandler = e => {
            console.log(e.target.id);

            let zipCodeSelected = 33919;
            $.getJSON(`https://app.zipcodebase.com/api/v1/radius?apikey=d4c1e590-8034-11ec-8466-0d7faea78a60&code=${zipCodeSelected}&radius=20&country=us`, data => {
                @* console.log("Radius:", data); *@
                    @* console.log("Radius Results", data.results); *@

                    RenderZipecodeRadius(data.results);


            });


            let jsonData = {
                zipcode: zipCodeSelected,
            }
            console.log(jsonData)
            $.ajax({
                url: '@Url.Action("GetEmailsByZipcode", "Home")',
                type: 'GET',
                data: jsonData,
                success: SuccessGetEmaisByCounty,

            })
        }

        const RenderZipecodeRadius = (data) => {
            console.log("Hope to see zipcode radius", data)
            $('#UserByStateList').empty();

            $.each(data, function (key, value) {
                console.log("Data in loop", key, value)


                $(`<li>
                        <div>
                        <h2 id="${key}">${value.code}</h2>
                        </div>

                        <div>
                        <h2 id="${key}">${value.city}</h2>


                        </div>


                        </li>`).appendTo("#UserByStateList");


            });

        };

        const SuccessGetEmaisByCounty = (result) => {
            console.log("all is well in zipcode ajax call")
            console.log(result)
            $('#AllUserOverview').empty();
            RenderAllUsersOverview(result);
        };


    </script>
</head>

<body>
    <div class="Overview-Container" id="overviewPartial">
        <div class="SalesByState-AdminOverview">
            <section>
                <h1 id="SalesBySateTitle" onclick="NewSalesOverviewHandler(event)">Sales by State</h1>
                <div id="SalesbySateList">
                    <header>
                        <h2>State</h2>
                        <h2>All Sales</h2>
                        <h2>New Sales</h2>
                    </header>
                    <ul id="AllSalesByStateOverview"></ul>
                </div>
                <div id="SelectedSateZipcodeList">
                    <header>
                        <h2>County</h2>
                        <h2>City</h2>
                        <h2>Zipcode</h2>
                    </header>
                    <ul id="AllZipeCodeByState"></ul>
                </div>


            </section>
        </div>

        <div class="AllUserOverview-GridContainer">
            <section>
                <h1>All Users</h1>
                <ul id="AllUserOverview"></ul>
            </section>

        </div>

        <div class="UserBySate-AdminOverview">
            <section>
                <h1>User by State</h1>
                <header>
                    <h2>State</h2>
                    <h2>All Users</h2>
                    <h2>Sellers</h2>
                    <h2>Buyers</h2>
                </header>
                <ul id="UserByStateList"></ul>

            </section>

        </div>






    </div>
</body>

</html>