<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Overview</title>
    <script>
        $(document).ready((e) => {
            @* alert("ajax for overview is working!!") *@

        })
    </script>

    <script>



        const MenuHandler = (e) => {
            if (e.target.id === "OverviewPartialBTN") {
                document.getElementById("overviewPartial").style.display = "grid"
                showMainMenu()
                document.getElementById("mainMenu").style.left = "95vw";

                $(document).ready((e) => {
                    @* alert("ajax for menue is working!!") *@

                        $.get("/GetAllGarageSalesForOverview", data => {
                            @* console.log("All sales:", data.data) *@
                                RenderAllSalesData(data);
                            @* data = JSON.parse(data.allSalesData); you do not need JSON.parse with $.get()*@
                    });

                    $.get("/GetSalesByState", data => {
                        @* console.log("Sales by state", data.data) *@
                            RenderSalesByStateData(data);

                    })

                    $.get("/GetUsersForOverview ", data => {
                        @* console.log(data.data) *@
                            RenderSellersData(data);

                    })

                    $.get("/GetBuyersForOverview", data => {
                        @* console.log(data.data) *@
                            RenderBuyersData(data);

                    })
                    @* $('#BuyersOverviewList').load("/GetBuyersForOverview #BuyersOverviewList", data => {
                            data = JSON.parse(data);
                            console.log(data)
                            }) *@
                })

            }

        }

        const RenderAllSalesData = (data) => {
            $.each(data.data, function (key, value) {
                @* console.log(key, value) *@
                    $(`<li>
                        <h3 id="${key}">${key}</h3>


                </li>`).appendTo("#AllGarageSalesOverviewList");

            });

        };

        const RenderSalesByStateData = (data) => {
            $.each(data.data, function (key, value) {
                $(`<li>
                        <h2 id="${key}">${key}</h2>
                        <h3>${value[0]}</h3>
                        <h3>${value[1]}</h3>
                </li>`).appendTo("#NewGarageSalesOverviewList");

            });

        };

        const RenderSellersData = (data) => {
            $.each(data.data, function (key, value) {
                @* console.log("All Sellers:", key, value) *@
                    $(`<li>
                        <h2 id="${key}">${value.email}</h2>
                        <h2 id="${key}">${value.state}</h2>

                        </li>`).appendTo("#SellersForOverviewList");

            });

        };

        const RenderBuyersData = (data) => {
            $.each(data.data, function (key, value) {
                @* console.log("All Sellers:", key, value) *@
                    $(`<li>
                        <h2 id="${key}">${value.email}</h2>
                        <h2 id="${key}">${value.state}</h2>
                        </li>`).appendTo("#BuyersForOverviewList");

            });

        };




    </script>
</head>

<body>
    <div class="Overview-Container" id="overviewPartial">
        <section>
            <h2>Users</h2>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Unde perferendis omnis voluptas dolores,
                officiis
                repellat vitae necessitatibus porro fugit earum quaerat mollitia sit? Eius alias ducimus culpa eligendi
                eaque
                neque!</p>
            <ul id="SellersForOverviewList"></ul>



        </section>
        <section>
            <h2>User by State</h2>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Unde perferendis omnis voluptas dolores,
                officiis
                repellat vitae necessitatibus porro fugit earum quaerat mollitia sit? Eius alias ducimus culpa eligendi
                eaque
                neque!</p>
            <ul id="BuyersForOverviewList"></ul>


        </section>

        <section>
            <h2>All Sales</h2>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Unde perferendis omnis voluptas dolores,
                officiis
                repellat vitae necessitatibus porro fugit earum quaerat mollitia sit? Eius alias ducimus culpa eligendi
                eaque
                neque!</p>
            <ul id="AllGarageSalesOverviewList"></ul>

        </section>

        <div class="SalesByState-AdminOverview">
            <section>
                <h1>Sales by State</h1>
                <header>
                    <h2>State</h2>
                    <h2>All Sales</h2>
                    <h2>New Sales</h2>

                </header>
                <ul id="NewGarageSalesOverviewList"></ul>


            </section>
        </div>


    </div>
</body>

</html>