<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Privacy Policy</title>
</head>

<body>
    <div class="privacyPolicy-container" id="privacyPolicyPartial">

        <button onclick="privacyPolicyHandler()"> &lt; back</button>

        <h1>Privacy Policy</h1>
        <p>This Privacy Policy elucidates the way in which Garage Sally uses, collects, discloses, and upholds
            information accumulated from our users. This policy will apply to our website wwww.garagesally.com and all
            its pages, services, products offered by us (Garage Sally).</p>

        <h2>How we Shield and Protect your Information</h2>
        <p>All delicate and confidential data exchanges between our website and its users use the proper IP’S and occurs
            over a secured SSL network. It is encrypted and protected with up to 256-bit Secure Sockets Layer encryption
            provided by our website host. </p>

        <h2>Sharing your Personal/Non-Personal Information</h2>
        <p>We do NOT! rental, trade, or sell any persona/non-personal information provide to us by the users. All
            information that is provide will be shared only with our site and products/services that are certified and
            trusted.</p>

        <h2>Data Create sent to us.</h2>
        <p>Online from filled out by the end user and site visitor analytics.</p>

        <h2>How we might use the Accumulated Information</h2>
        <p>We may collect and use user’s personal/non-personal information for the following objectives. 1. To keep you
            informed 2. We might use email address provided by users to respond to their feedback, questions, inquiries
            and/or other request. Users may receive emails that include updates, news, related to services and products.
            3. To improve our website/products 4. We might use user’s feedback to improve our website/products. 5. To
            accommodate users experience 6. Information might be used to understand how users are using our products and
            services. 7. To improve customer service. Information provided by you the user can help us provide with
            better services.</p>

        <h2>Non-Personal Information we might collect</h2>
        <p>We might gather miscellaneous information such as, but not limited to; type of computer and OS. Methods users
            interact with our site, product and services. Methods of connecting to our site or products. Broad
            accumulated demographic information and other similar technical information might be gathered.</p>

        <h2>Personal Information we might collect</h2>
        <p>Personal information might be collected in several ways, but not limited to, when the user visits our site,
            connecting with other activities, features, and services that our available at our website. Users may be
            asked to provide with personal information such as name and email address. Users are not required to give
            personal information. We only collect information that is provide to us by the user.</p>

        <h2>Changes to our Privacy Policy</h2>
        <p>We hold the right to update this Privacy Policy at any time. The newest updates/changes to our policy will be
            posted to our website and encourage users to visit this page frequently for any changes and to stay informed
            of how we are securing and protecting any personal information we might collect. You accept and agree that
            is your responsibility to review our privacy policy regularly and become aware of any adjustments.</p>

        <h2>Accepting our Terms</h2>
        <p> By using this website, you accept our policy and terms of service. If you do not ably to this policy,
            pleases do not use our website.</p>

        <p>...</p>

    </div>
</body>

</html>