<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">


    <script>
        $(document).ready(function () {
            $.get("/ListedGarageSaleCount", data => {

                $(`<section>
                    <h2>Sales Listed</h2>
                    <p>${data.data}</p>
                </section>`).prependTo("#GargeSaleData");
            });

            const RenderListedSales = (data) => {
                $.each(data.data, function (i, v) { })
            }
        })
    </script>


</head>


<body>

    <footer>
        <div class="userStatus-container" id="GargeSaleData">


            <section>
                <h2>Sellers</h2>
                <p>150</p>
            </section>

            <section>
                <h2>Peopel looking for garage sales</h2>
                <p>150</p>
            </section>


        </div>
    </footer>
</body>

</html>