<!DOCTYPE html>
<html lang="en">

<head>
    <meta property="og:url" content="http://www.garagesally.com" />
    <meta property="og:type" content="article" />
    <meta property="og:title" content="Garage Sally" />
    <meta property="og:description" content="Post,find and share garage sales" />
    <meta property="og:image" content="~/img/Assets/mapDesktopPlaceholder.png" />

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="~/css/dashboard.css">

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-WGFK1GC4RE"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'G-WGFK1GC4RE');
    </script>
    <script>
        $(document).ready(function () {
            $.get("/displayGarageSales", data => {
                RenderData(data);
                if (data.data.length === 0) {
                    console.log("no garage sales in this zip code.")
                    $(`<li >
                        <section>

                              <footer>
                                <p>You are the first person to discover Garage Sally in your state :) there are currently no garage sales listed. Follow us on social media to see what state we are currently marketing in.</p>
                            </footer>
                            <main>

                            <a  href="https://www.linkedin.com/company/garagesally" target="blank">
                               <button> follow </button>
                               </a>
                            </main>
                        </section>
                    </li>

                        <li >
                        <section>

                              <footer>
                                <p>Help build a garage sales community by telling your neighbors, friends, and family about Garage Sally.</p>
                            </footer>
                            <main>
                               <button onclick="popUpNoticeHandler(event)">share</button>
                            </main>
                        </section>
                    </li>

                      <li >
                        <section>

                              <footer>
                                <p> Be the first to post a garage sale.</p>
                            </footer>
                            <main>
                               <button onclick="popUpNoticeHandler(event)">post</button>
                            </main>
                        </section>
                    </li>


                    `).prependTo("#garageSaleList");
                    return
                }
            });

            const LoadData = () => {
                $('#garageSaleList').load("/displayGarageSales #garageSaleList", data => {
                    data = JSON.parse(data);

                    @* console.log("in load", data); *@
                        RenderData(data);
                    @* data = $.parseJSON(data); deprecated*@
                });
            };
            const RenderData = (data) => {
                $.each(data.data, function (i, v) {
                    @* console.log(v) *@
                        @* console.log("Date Time:", v.startDate, v.startTime, v.endTime) *@
                        @* console.log("id:", v.garageSaleId, "address:", v.streetNumber, v.streetName, v.city, v.state, v.zipcode); *@
                    const TimeFormat = {
                        hour12: true,
                        hour: "numeric",
                        minute: "numeric", seconds: "numeric"
                    }
                    const DateFormat = {
                        weekday: "long",
                        month: "long",
                        day: "numeric"
                    };
                    const CheckDateFormat = {
                        year: "numeric",
                        month: "long",
                        day: "numeric"
                    };

                    let dateFormated = new Date(v.startDate).toLocaleDateString("en-US", DateFormat);
                    let startTimeFormatted = new Date(v.startTime).toLocaleTimeString("en-US", TimeFormat);
                    let endTimeFormatted = new Date(v.endTime).toLocaleTimeString("en-US", TimeFormat);


                    let checkDate = new Date(v.startDate);
                    let checkToday = new Date();
                    checkToday.setDate(checkToday.getDate() - 1);

                    console.log(checkToday)

                    let garageItemId = v.garageSaleId;

                    if (checkDate < checkToday) {
                        console.log("this event has expired")
                    } else {
                        $(`<li id="${garageItemId}">
                        <section>
                            <header>
                                <h1>${dateFormated}</h1>
                                <h2>${startTimeFormatted}-${endTimeFormatted}</h2>
                            </header>

                            <footer>
                                <h3> ${v.city} ${v.state}</h3>
                                <p>${v.description}</p>
                            </footer>

                            <main>
                                <a href="http://maps.google.com/?q=${v.streetNumber} ${v.streetName}, ${v.state}, ${v.zipcode}" target="blank"><button>Directions</button></a>
                                @* <p>20 people visted.</p> *@
                            </main>
                        </section>

                    </li>`).prependTo("#garageSaleList");
                    }
                });
            };
        })
    </script>
</head>

<body>
    <div class="allGaragePost-container">
        <div class="cardItems">
            <ul id="garageSaleList">
                @* <li>
                    <img src="~/img/Assets/postPlaceholder.png" alt="">
                    <section>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit</p>
                    </section>
                    <aside>
                    <div id="circleIcon"></div>
                    <div id="circleIcon"></div>
                    <div id="circleIcon"></div>
                    </aside>
                    </li> *@
            </ul>
        </div>
    </div>
</body>

</html>