@using UserLogin.Models
@model DashboardWrapper

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Garage Sally</title>
    <meta name="author" content="Garage Sally">
    <meta name="description"
        content="Garage Sally helps people post and find garage sales. Create a free account and start posting and finding garage sales.">
    <meta name="keywords"
        content="garage sale, garage sale for sale, yard sale for sale, yard sale, garage sales, yard sales, garage sales near me, yard sales near me, garage sale finder, yard sale finder, garage sales application, yard sale application, find garage sale, find yard sale, list my garage sale, list my yard sale, yeard sale search, garage sales website, Garage Sally">
    <link rel="shortcut icon" type="imgage/png" href="~/img/Assets/favIcon.png" />

    <link rel="stylesheet" href="~/css/style.css">
    <link rel="stylesheet" href="~/css/dashboard.css">
    <script src="~/js/dashboard.js" async=""></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-WGFK1GC4RE"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'G-WGFK1GC4RE');
    </script>
</head>

<body>
    <partial name="mapPartial" />
    <partial name="allGaragePost" />
    <partial name="profilePartial" model="@Model.User" />
    <partial name="menuPartial" />
    <partial name="postSalePartial" model="@Model.User" />
    <partial name="_aboutGarageSally" />
    <partial name="_privacyPolicy" />
    <partial name="_termsOfService" />
    @* <partial name="_userSales" /> *@
</body>

</html>