@using UserLogin.Models
@model DashboardWrapper

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/css/landingPage.css">
    <link rel="stylesheet" href="~/css/style.css">


    <script src="~/js/loginReg.js" async=""></script>
    <script src="~/js/landingPage.js" async=""></script>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>


    <title>Garage Sally</title>
    <meta name="author" content="Garage Sally">
    <meta name="description"
        content="Garage Sally helps people post and find garage sales. Create a free account and start posting and finding garage sales.">
    <meta name="keywords"
        content="garage sale, garage sale for sale, yard sale for sale, yard sale, garage sales, yard sales, garage sales near me, yard sales near me, garage sale finder, yard sale finder, garage sales application, yard sale application, find garage sale, find yard sale, list my garage sale, list my yard sale, yeard sale search, garage sales website, Garage Sally">
    <link rel="shortcut icon" type="imgage/png" href="~/img/Assets/favIcon.png" />

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-WGFK1GC4RE"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'G-WGFK1GC4RE');
    </script>
</head>

<body>
    <div class="landingPage-container">
        <header>

            <main>
                <button id="SignInBTN" onclick="ShowLogin()">sign in</button>
            </main>
            <h1>Garage Sally</h1>
            <picture>
                <source media="(min-width: 1100px)" srcset="~/img/Assets/logoDesktop.png" />
                <img src="~/img/Assets/logoDesktop.png" alt="">
            </picture>

            <p>find garage sales near you!</p>
            <p class="hidden">find yard sales near you!</p>



        </header>

        <partial name="_homeSearch" />

        <div class="login-container" id="logInState">

            <button onclick="HideLogin()">Close</button>

            <partial name="loginPartial" model="@Model.LoginUser" view-data="ViewData" />
        </div>

        <main>

            <section class="freeAccount-container" id="FreeAccount">

                <div class="info-container">
                    <div>
                        <h4>Already have an account?</h4>
                    </div>
                    <button onclick="SignBackInHandler(event)">sign in</button>

                </div>

                @* <picture>
                    <source media="(min-width: 1100px)" srcset="/img/Assets/mapLarge.png" />
                    <img src="~/img/Assets/mapSmall.png" alt="">
                    </picture> *@

                <aside>
                    <h3 id="regNewUserHeading">Get access to directions, register for a free account.</h3>
                    <div class="userReg-container">
                        <partial name="registrationPartial" model="@Model.User" view-data="ViewData" />
                    </div>
                </aside>
            </section>



            <section class="sellersAccount-container" id="SellerAccount">
                <div class="info-container">
                    <div>
                        <h2>Having a sale of your own?</h2>
                        <h4>List garage sale & yard sale here for free!</h4>

                    </div>

                    <p>People love garage sales and yard sales but do not like driving for hours trying to find them.
                        Help build a
                        community and list your garage sale or yard sale for free today.</p>
                </div>

                <aside>
                    <h3>Start a free seller account and get discovered.</h3>

                    <div class="sellersForm">
                        <partial name="sellersRegPartial" model="@Model.User" view-data="ViewData" />
                    </div>
                </aside>

                <picture>
                    <source media="(min-width: 1100px)" srcset="/img/Assets/mapLarge.png" />
                    <img src="~/img/Assets/mapSmall.png" alt="">
                </picture>

            </section>
        </main>

    </div>
</body>

</html>