@using UserLogin.Models
@model LoginUser

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Log in</title>
    <link rel="stylesheet" href="~/css/regLog.css">

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-WGFK1GC4RE"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'G-WGFK1GC4RE');
    </script>
</head>

<body>
    <div class="form-container" id="SignInHeight">
        <h3>Welcome back</h3>
        <button onclick="SignInDirectionsHandler(event)">Register as a new user.</button>

        <form asp-action="Login" asp-controller="Home">
            <span asp-validation-for="Email"></span>
            <input asp-for="Email" placeholder="Email">
            <input asp-for="Password" placeholder="Password">
            <button type="submit">log in</button>
            @* <input class="btn" type="submit" value="submit"> *@
        </form>
    </div>
    @* <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320">
        <path fill="#B936D2" fill-opacity="1"
        d="M0,96L60,117.3C120,139,240,181,360,165.3C480,149,600,75,720,48C840,21,960,43,1080,90.7C1200,139,1320,213,1380,250.7L1440,288L1440,320L1380,320C1320,320,1200,320,1080,320C960,320,840,320,720,320C600,320,480,320,360,320C240,320,120,320,60,320L0,320Z">
        </path>
        </svg> *@
</body>

</html>
