<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>maps</title>
    <link rel="stylesheet" href="~/css/dashboard.css">

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-WGFK1GC4RE"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', 'G-WGFK1GC4RE');
    </script>
</head>

<body>
    <div class="map-container">

        <picture>
            <source media="(min-width: 1100px)" srcset="~/img/Assets/mapDesktopPlaceholder.png" />
            <img src="~/img/Assets/mapPlaceholder.png" alt="">
        </picture>

    </div>
</body>

</html>