@using UserLogin.Models
@model User

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <link rel="stylesheet" href="~/css/regLog.css">
    @* <script src="~/js/loginReg.js" async=""></script> *@

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-WGFK1GC4RE"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());
        gtag('config', 'G-WGFK1GC4RE');
    </script>

    <script>
        $(document).ready(() => {
            console.log("Ajax is running on the sellers registration!")
            $("#SellerRegistration").submit(e => {
                e.preventDefault();

                let SellerEmail = $("#SellerEmail").val();
                let SellerPassword = $("#SellerPassword").val();
                let SellerConfirm = $("#SellerConfirm").val();
                let SellerState = $("#SellerState").val();
                let SellerZipcode = $("#SellerZipcode").val();
                let County = "no county"
                let City = "no city"



                $.getJSON(`https://app.zipcodebase.com/api/v1/search?apikey=d4c1e590-8034-11ec-8466-0d7faea78a60&country=us&codes=${SellerZipcode}`, data => {


                    console.log(data, "data is here")

                    if (data.results.length === 0) {
                        Step1SellerReg();
                        document.getElementById("zipcodeSellerLabel").innerHTML = `${SellerZipcode} is not a valid zip code!`;
                        document.getElementById("zipcodeSellerLabel").style.display = "block";
                        document.getElementById("zipcodeSellerLabel").style.color = "red";
                        document.getElementById("SellerZipcode").style.border = "red solid 2px";
                        return
                    }

                    console.log(County, "Before API")
                    SellerState = data.results[SellerZipcode][0].state_code
                    County = data.results[SellerZipcode][0].province
                    City = data.results[SellerZipcode][0].city
                    console.log(County, "After API")


                    let jsonData = {
                        email: SellerEmail,
                        password: SellerPassword,
                        confirm: SellerConfirm,
                        state: SellerState,
                        zipcode: SellerZipcode,
                        county: County,
                        city: City
                    }

                    console.log(jsonData)

                    $.ajax({
                        type: "POST",
                        url: '@Url.Action("SellerRegistration", "Home")',
                        data: jsonData,
                        success: SuccessSellerReg,
                    @* error: ErrorBuyerReg, *@
                        @* complete: CompleteBuyerReg *@
                });

            });

        });
        const SuccessSellerReg = (result) => {

            console.log(result.status)
            if (result.status === "Email can not be empty!") {
                Step2SellerReg();
                document.getElementById("emailSellerLabel").innerHTML = result.status;
                document.getElementById("emailSellerLabel").style.display = "block";
                document.getElementById("emailSellerLabel").style.color = "red";
                document.getElementById("SellerEmail").style.border = "red solid 2px";

            }

            if (result.status === "Password can not be empty!") {
                Step3SellerReg();
                document.getElementById("passwordSellerLabel").innerHTML = result.status;
                document.getElementById("passwordSellerLabel").style.display = "block";
                document.getElementById("passwordSellerLabel").style.color = "red";
                document.getElementById("SellerPassword").style.border = "red solid 2px";

            }


            if (result.status === "Password do not match!") {
                Step3SellerReg();
                document.getElementById("passwordSellerLabel").innerHTML = result.status;
                document.getElementById("passwordSellerLabel").style.display = "block";
                document.getElementById("passwordSellerLabel").style.color = "red";
                document.getElementById("SellerPassword").style.border = "red solid 2px";
                document.getElementById("SellerConfirm").style.border = "red solid 2px";


            }




            if (result.status === "Zipcode can not be empty!") {
                Step1SellerReg();
                document.getElementById("zipcodeSellerLabel").innerHTML = result.status;
                document.getElementById("zipcodeSellerLabel").style.display = "block";
                document.getElementById("zipcodeSellerLabel").style.color = "red";
                document.getElementById("SellerZipcode").style.border = "red solid 2px";

            }


            if (result.status === "Email already in use!") {
                Step2SellerReg();
                document.getElementById("emailSellerLabel").innerHTML = result.status;
                document.getElementById("emailSellerLabel").style.display = "block";
                document.getElementById("emailSellerLabel").style.color = "red";
                document.getElementById("SellerEmail").style.border = "red solid 2px";

            }


            if (result.status === "Successfully registered seller!") {
                window.location.href = '@Url.Action("SendToDashboard", "Home")'
            }

        };
        })
    </script>

</head>

<body>
    <div class="regLog-container">

        <div class="form-container">
            <div class="regHeader_container">
                <h4 id="sellerHeading">Check your area availability.</h4>
            </div>

            <form id="SellerRegistration" asp-controller="Home" method="POST" enctype="multipart/form-data">
                @* <span asp-validation-for="FirstName"></span>
                    <input asp-for="FirstName" placeholder="First Name">

                    <span asp-validation-for="LastName"></span>
                    <input asp-for="LastName" placeholder="Last Name">*@
                <div class="section1-container" id="section1SellerReg">
                    <aside>
                        <label for="Zipcode" id="zipcodeSellerLabel"></label>
                        @* <label id="State">Select your State</label> *@
                        @* <partial name="_StateListSeller" /> *@
                        @* <input value="AL" placeholder="State:" class="hidden" id="SellerState"> *@
                        <input type="number" id="SellerZipcode" placeholder="zip code:"
                            onkeydown="RegErrorHandler(event)">


                    </aside>
                    <button type="button" onclick="Step2SellerReg()">Next</button>
                </div>

                <div class="section2-container" id="section2SellerReg">

                    <label class="hidden" for="Email" id="emailSellerLabel"></label>

                    <input id="SellerEmail" placeholder="email:" onkeydown="RegErrorHandler(event)">

                    <footer>
                        <button type="button" onclick="Step1SellerReg()">back</button>
                        <button type="button" onclick="Step3SellerReg()">Next</button>
                    </footer>
                </div>

                <div class="section3-container" id="section3SellerReg">
                    <label class="hidden" for="Zipcode" id="passwordSellerLabel">Password</label>

                    <input id="SellerPassword" placeholder="password:" type="password"
                        onkeydown="RegErrorHandler(event)">

                    <label class="hidden" for="Confirm">Confirm Password</label>
                    <input id="SellerConfirm" placeholder="confirm password:" type="password"
                        onkeydown="RegErrorHandler(event)">
                    @* <img src="~/img/Assets/placeholder.png" alt="">
                        <p>Incress discoverability by adding a photo to your profile.</p>
                        <input asp-for="files" type="file" multiple> *@

                    <footer>
                        <button type="button" onclick="Step2SellerReg()">back</button>
                        <button type="submit">Create Account</button>
                        @* <button type="button" onclick="Step4SellerReg()">Next</button> *@
                    </footer>
                </div>

                <div class="section4-container" id="section4SellerReg">
                    @* <p>Add the location of your garage sale.</p>
                        <span asp-validation-for="StreetNumber"></span>
                        <input asp-for="StreetNumber" placeholder="Street #:">
                        <span asp-validation-for="StreetName"></span>
                        <input asp-for="StreetName" placeholder="Street Name:">
                        <span asp-validation-for="City"></span>
                        <input asp-for="City" placeholder="City:">

                        <footer>
                        <button type="button" onclick="Step3SellerReg()">back</button>
                        </footer> *@
                </div>

                @* <input class="btn" type="submit" value="submit"> *@
            </form>
        </div>

    </div>
</body>

</html>
