<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>

    <div class="termsOfService-container" id="termsOfServicePartial">
        <button onclick="termsOfServiceHandler()"> &lt; back</button>

        <h1>Term of Service</h1>
        <p>When using and accessing this website or services, www.garagesally.com, or pages, you the (user/end-user)
            agree to these Terms of Service/Agreement.</p>

        <h2>Amendment to this Agreement</h2>
        <p>We reserve the right to modify or change any of the terms of service or privet policies at any point in time.
            You “the user” acknowledge and agree that it is your sole responsibility to review our website for the
            latest changes/modifications to our terms of service and privet policies. Your continued use of our website
            is your agreement to these terms. You accept and comply with this term and any future changes or
            modifications.</p>

        <h2>Title Property</h2>
        <p>You agree and accept that copyrights and laws protect all content and information on our website. You agree
            not to copy, create, reproduce, distribute, transmit, perform, transfer, display, publish, warrant, sell or
            re-sell any information or content acquired from our Website/Applications or any feature releases or
            application by garage sally.</p>

        <h2>Warranty Disclaimer</h2>
        <p>By the use of this website or services, you agree that it is at your risk and choice. Garage Sally makes no
            warranty that content or information will be error-free, unremitting, timely, or unreachable. Our website
            may contain typography or inaccurate errors. Garage Sally reserve the right to change or modify the
            information at any given time without notice of the users. It is the responsibility of the customer to check
            terms of services for any updates.</p>

        <h2>Liability limitations</h2>
        <p>We are not liable for any direct/indirect substantial damage or lots of any kind arising out of the use of
            our website or services. We will not be held responsible for any damages or losses.</p>

    </div>
</body>

</html>