<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="~/css/dashboard.css">


</head>

<body>
    <div class="allGaragePost-container">
        <div class="cardItems">
            <ul>
                <li>
                    <img src="~/img/Assets/postPlaceholder.png" alt="">
                    <section>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit</p>
                    </section>
                    <aside>
                        <div id="circleIcon"></div>
                        <div id="circleIcon"></div>
                        <div id="circleIcon"></div>
                    </aside>
                </li>

                <li>
                    <img src="~/img/Assets/postPlaceholder.png" alt="">
                    <section>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit</p>
                    </section>
                    <aside>
                        <div id="circleIcon"></div>
                        <div id="circleIcon"></div>
                        <div id="circleIcon"></div>
                    </aside>
                </li>
                <li>
                    <img src="~/img/Assets/postPlaceholder.png" alt="">
                    <section>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit</p>
                    </section>
                    <aside>
                        <div id="circleIcon"></div>
                        <div id="circleIcon"></div>
                        <div id="circleIcon"></div>
                    </aside>
                </li>
                <li>
                    <img src="~/img/Assets/postPlaceholder.png" alt="">
                    <section>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit</p>
                    </section>
                    <aside>
                        <div id="circleIcon"></div>
                        <div id="circleIcon"></div>
                        <div id="circleIcon"></div>
                    </aside>
                </li>
                <li>
                    <img src="~/img/Assets/postPlaceholder.png" alt="">
                    <section>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit</p>
                    </section>
                    <aside>
                        <div id="circleIcon"></div>
                        <div id="circleIcon"></div>
                        <div id="circleIcon"></div>
                    </aside>
                </li>
                <li>
                    <img src="~/img/Assets/postPlaceholder.png" alt="">
                    <section>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit</p>
                    </section>
                    <aside>
                        <div id="circleIcon"></div>
                        <div id="circleIcon"></div>
                        <div id="circleIcon"></div>
                    </aside>
                </li>
            </ul>

        </div>

    </div>
</body>

</html>