<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="~/css/dashboard.css">

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-WGFK1GC4RE"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'G-WGFK1GC4RE');
    </script>
    <script>

        $(document).ready(function () {

            $.get("/displayGarageSales", data => {
                RenderData(data);
            });

            const LoadData = () => {
                alert("loading data...");
                $('#garageSaleList').load("/displayGarageSales #garageSaleList", data => {
                    data = JSON.parse(data);
                    @* console.log("in load", data); *@
                        RenderData(data);
                    @* data = $.parseJSON(data); deprecated*@
                });
            };
            const RenderData = (data) => {
                $.each(data.data, function (i, v) {
                    @* console.log(v) *@
                        @* console.log("Date Time:", v.startDate, v.startTime, v.endTime) *@
                        @* console.log("id:", v.garageSaleId, "address:", v.streetNumber, v.streetName, v.city, v.state, v.zipcode); *@

                    const TimeFormat = {
                        hour12: true,
                        hour: "numeric",
                        minute: "numeric", seconds: "numeric"
                    }

                    const DateFormat = {
                        weekday: "long",
                        month: "long",
                        day: "numeric"
                    };

                    const CheckDateFormat = {
                        year: "numeric",
                        month: "long",
                        day: "numeric"

                    };

                    let dateFormated = new Date(v.startDate).toLocaleDateString("en-US", DateFormat);
                    let startTimeFormatted = new Date(v.startTime).toLocaleTimeString("en-US", TimeFormat);
                    let endTimeFormatted = new Date(v.endTime).toLocaleTimeString("en-US", TimeFormat);


                    let checkDate = new Date(v.startDate).toLocaleDateString("en-US", CheckDateFormat);
                    let checkToday = new Date().toLocaleDateString("en-US", CheckDateFormat);



                    let garageItemId = v.garageSaleId;

                    if (checkDate < checkToday) {
                        console.log("this event has expired")
                        console.log(checkDate, "<", checkToday)

                    } else {


                        $(`<li id="${garageItemId}">
                    @* <img src="~/img/Assets/postPlaceholder.png" alt=""> *@
                        <section>
                            <header>
                                <h1>${dateFormated}</h1>
                                <h2>${startTimeFormatted}-${endTimeFormatted}</h2>
                            </header>


                            <address>
                                <p>${v.streetNumber} ${v.streetName} </p>
                                <p> ${v.city}  ${v.state} ${v.zipcode}</p>
                            </address>


                            <main>
                                <a href="http://maps.google.com/?q=${v.streetNumber} ${v.streetName}, ${v.state}, ${v.zipcode}" target="blank"><button>Directions</button></a>
                                <button>Check In</button>
                                <p>visited 20</p>
                                <p>check in 5</p>
                            </main>
                        </section>

                    </li>`).prependTo("#garageSaleList");

                    }

                });
            };

        })



    </script>

</head>

<body>
    <div class="allGaragePost-container">
        <div class="cardItems">
            <ul id="garageSaleList">
                @* <li>
                    <img src="~/img/Assets/postPlaceholder.png" alt="">
                    <section>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit</p>
                    </section>
                    <aside>
                    <div id="circleIcon"></div>
                    <div id="circleIcon"></div>
                    <div id="circleIcon"></div>
                    </aside>
                    </li> *@


            </ul>

        </div>

    </div>
</body>

</html>