<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="~/css/dashboard.css">

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-WGFK1GC4RE"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'G-WGFK1GC4RE');
    </script>

</head>

<body>
    <div class="allGaragePost-container">
        <div class="cardItems">
            <ul>
                <li>
                    <img src="~/img/Assets/postPlaceholder.png" alt="">
                    <section>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit</p>
                    </section>
                    <aside>
                        <div id="circleIcon"></div>
                        <div id="circleIcon"></div>
                        <div id="circleIcon"></div>
                    </aside>
                </li>

                <li>
                    <img src="~/img/Assets/postPlaceholder.png" alt="">
                    <section>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit</p>
                    </section>
                    <aside>
                        <div id="circleIcon"></div>
                        <div id="circleIcon"></div>
                        <div id="circleIcon"></div>
                    </aside>
                </li>
                <li>
                    <img src="~/img/Assets/postPlaceholder.png" alt="">
                    <section>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit</p>
                    </section>
                    <aside>
                        <div id="circleIcon"></div>
                        <div id="circleIcon"></div>
                        <div id="circleIcon"></div>
                    </aside>
                </li>
                <li>
                    <img src="~/img/Assets/postPlaceholder.png" alt="">
                    <section>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit</p>
                    </section>
                    <aside>
                        <div id="circleIcon"></div>
                        <div id="circleIcon"></div>
                        <div id="circleIcon"></div>
                    </aside>
                </li>
                <li>
                    <img src="~/img/Assets/postPlaceholder.png" alt="">
                    <section>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit</p>
                    </section>
                    <aside>
                        <div id="circleIcon"></div>
                        <div id="circleIcon"></div>
                        <div id="circleIcon"></div>
                    </aside>
                </li>
                <li>
                    <img src="~/img/Assets/postPlaceholder.png" alt="">
                    <section>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit</p>
                    </section>
                    <aside>
                        <div id="circleIcon"></div>
                        <div id="circleIcon"></div>
                        <div id="circleIcon"></div>
                    </aside>
                </li>
            </ul>

        </div>

    </div>
</body>

</html>