@using UserLogin.Models
@model DashboardWrapper

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link rel="stylesheet" href="~/css/style.css">
    <link rel="stylesheet" href="~/css/dashboard.css">
    <script src="~/js/dashboard.js" async=""></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>


    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-WGFK1GC4RE"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'G-WGFK1GC4RE');
    </script>

    <script>
        $(document).ready(function () {

            $.get("/displayGarageSales", data => {
                RenderData(data);
            });

            const LoadData = () => {
                alert("loading data...");
                $('#garageSaleList').load("/displayGarageSales #garageSaleList", data => {
                    data = JSON.parse(data);
                    console.log("in load", data);
                    RenderData(data);
                    @* data = $.parseJSON(data); deprecated*@
                });
            };
            const RenderData = (data) => {
                console.log("user Data", data.data)
                $.each(data.data, function (i, v) {
                    console.log(v)
                    console.log("id:", v.garageSaleId);

                    let garageItemId = v.garageSaleId;


                    $(`<li id="${garageItemId}">

                    <img src="~/img/Assets/postPlaceholder.png" alt="">
                    <section>
                        <p>${garageItemId}</p>
                    </section>
                    <aside>
                        <div id="circleIcon"></div>
                        <div id="circleIcon"></div>
                        <div id="circleIcon"></div>
                    </aside>
                    </li>`).appendTo("#garageSaleList");




                });
            };

        })
    </script>

</head>

<body>

    <partial name="mapPartial" />
    <partial name="allGaragePost" />
    <partial name="profilePartial" model="@Model.User" />
    <partial name="menuPartial" />



</body>

</html>