@using UserLogin.Models
@model DashboardWrapper

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/css/landingPage.css">
    <script src="~/js/loginReg.js" async=""></script>
    <title>Garage Sally</title>

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-WGFK1GC4RE"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'G-WGFK1GC4RE');
    </script>

</head>

<body>

    <div class="landingPage-container">
        <header>
            <h1>Garage Sally</h1>
            <picture>
                <source media="(min-width: 1100px)" srcset="~/img/Assets/logoDesktop.png" />
                <img src="~/img/Assets/logo.png" alt="">
            </picture>

            <p>find, post, and share.</p>

            <footer>
                <button onclick="ShowLogin()">sign in</button>
            </footer>

        </header>
        <div class="login-container" id="logInState">

            <button onclick="HideLogin()">Close</button>

            <partial name="loginPartial" model="@Model.LoginUser" view-data="ViewData" />
        </div>

        <main>
            <section class="freeAccount-container">
                <div class="info-container">
                    <div>
                        <h2>Search for free.</h2>
                        <h4>Find a garage sale near you.</h4>
                    </div>

                    <p>Do you drive around for hours trying to find garage sales in your area? </p>
                </div>

                <picture>
                    <source media="(min-width: 1100px)" srcset="/img/Assets/mapLarge.png" />
                    <img src="~/img/Assets/mapSmall.png" alt="">
                </picture>

                <aside>
                    <h3>Start searching and find garage sales near you.</h3>
                    <div class="userReg-container">
                        <partial name="registrationPartial" model="@Model.User" view-data="ViewData" />
                    </div>
                </aside>


            </section>

            <section>
                @* <partial name="allGaragePost" /> *@

            </section>


            <section class="sellersAccount-container">
                <div class="info-container">
                    <div>
                        <h2>Post garage sales.</h2>
                        <h4>Get discovered.</h4>

                    </div>

                    <p>People love garage sales, but do not like driving for hours trying to find them. Help people do
                        what they love post your garage sale today.</p>
                </div>

                <aside>
                    <h3>Create a sellers account and get discovered.</h3>

                    <div class="sellersForm">
                        <partial name="sellersRegPartial" model="@Model.User" view-data="ViewData" />
                    </div>
                </aside>

                <picture>
                    <source media="(min-width: 1100px)" srcset="/img/Assets/mapLarge.png" />
                    <img src="~/img/Assets/mapSmall.png" alt="">
                </picture>


            </section>
        </main>


    </div>

</body>

</html>