@using UserLogin.Models
@model User

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hope</title>
    <link rel="stylesheet" href="~/css/regLog.css">
</head>

<body>
    <div class="regLog-container">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320">
            <path fill="#662179" fill-opacity="1"
                d="M0,224L40,229.3C80,235,160,245,240,261.3C320,277,400,299,480,288C560,277,640,235,720,224C800,213,880,235,960,229.3C1040,224,1120,192,1200,160C1280,128,1360,96,1400,80L1440,64L1440,0L1400,0C1360,0,1280,0,1200,0C1120,0,1040,0,960,0C880,0,800,0,720,0C640,0,560,0,480,0C400,0,320,0,240,0C160,0,80,0,40,0L0,0Z">
            </path>
        </svg>

        <div class="form-container">
            <div class="regHeader_container">
                <h1>Register</h1>
            </div>

            <form asp-action="Redgister" asp-controller="Home" method="POST">
                <a href="/signin">Sign in.</a>

                <span asp-validation-for="FirstName"></span>
                <input asp-for="FirstName" placeholder="First Name">

                <span asp-validation-for="LastName"></span>
                <input asp-for="LastName" placeholder="Last Name">

                <span asp-validation-for="Email"></span>
                <input asp-for="Email" placeholder="Email">

                <span asp-validation-for="Password"></span>
                <input asp-for="Password" placeholder="Password">

                <span asp-validation-for="Confirm"></span>
                <input asp-for="Confirm" placeholder="Confirm Password">

                <button type="submit">submit</button>


                @* <input class="btn" type="submit" value="submit"> *@

            </form>
        </div>

        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320">
            <path fill="#662179" fill-opacity="1"
                d="M0,288L40,288C80,288,160,288,240,245.3C320,203,400,117,480,90.7C560,64,640,96,720,106.7C800,117,880,107,960,101.3C1040,96,1120,96,1200,96C1280,96,1360,96,1400,96L1440,96L1440,320L1400,320C1360,320,1280,320,1200,320C1120,320,1040,320,960,320C880,320,800,320,720,320C640,320,560,320,480,320C400,320,320,320,240,320C160,320,80,320,40,320L0,320Z">
            </path>
        </svg>


    </div>
</body>

</html>
