@using UserLogin.Models
@model DashboardWrapper

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>

    <partial name="registrationPartial" model="@Model.User" view-data="ViewData" />

    <partial name="loginPartial" model="@Model.LoginUser" view-data="ViewData" />


</body>

</html>