@using UserLogin.Models
@model LoginUser

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Log in</title>
    <link rel="stylesheet" href="~/css/regLog.css">

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-WGFK1GC4RE"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'G-WGFK1GC4RE');
    </script>
</head>

<body>
    <div class="regLog-container">


        <div class="form-container">

            <h1>Sign in.</h1>
            <form asp-action="Login" asp-controller="Home">
                <a href="/registration">Registration</a>

                <span asp-validation-for="Email"></span>
                <input asp-for="Email" placeholder="Email">
                <input asp-for="Password" placeholder="Password">


                <button type="submit">log in</button>
                @* <input class="btn" type="submit" value="submit"> *@
            </form>
        </div>

    </div>
</body>

</html>
