<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>maps</title>
    <link rel="stylesheet" href="~/css/regLog.css">

</head>

<body>

    <picture>
        <source media="(min-width: 1100px)" srcset="~/img/Assets/mapDesktopPlaceholder.png" />
        <img src="~/img/Assets/mapPlaceholder.png" alt="">
    </picture>
</body>

</html>