<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Menu</title>


</head>

<body>

    <div class="menu-container" id="mainMenu">

        <div class="menuIcon-container" onclick="showMainMenu()">
            <div class="menuIcon"></div>
            <div class="menuIcon"></div>
            <div class="menuIcon"></div>
        </div>

        <div class="menuList-Container">


            <h2> <button onclick="profile()"> Profile </button></h2>
            <h2> <button onclick="profile()"> New Post </button></h2>
            <h2> <button onclick="profile()"> Settings </button></h2>
            <h2> <button onclick="profile()"> Term of Service </button></h2>
            <h2> <button onclick="profile()"> Privacy Policy </button></h2>



            <a href="/logout">Logout</a>


        </div>


    </div>

</body>

</html>