<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Menu</title>


</head>

<body>

    @* <div class="showMenu-container" id="showMenu">
        <div class="menuIcon-container" onclick="showMainMenu()">
        <div class="menuIcon"></div>
        <div class="menuIcon"></div>
        <div class="menuIcon"></div>
        </div>
        </div> *@


    <div class="menu-container" id="mainMenu">

        <div class="menuIcon-container" onclick="showMainMenu()">
            <div class="menuIcon"></div>
            <div class="menuIcon"></div>
            <div class="menuIcon"></div>
        </div>
        @* <button onclick="hideMainMenu()">X</button> *@

        <div>

            <h2>Portfolio</h2>
            <h2>New Post</h2>
            <h2>Settings</h2>
            <h2>Term of Service</h2>
            <h2>Privacy Policy</h2>
            <a href="/logout">Logout</a>


        </div>


    </div>

</body>

</html>