<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Menu</title>

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-WGFK1GC4RE"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'G-WGFK1GC4RE');
    </script>

</head>

<body>

    <div class="menu-container" id="mainMenu">

        <div class="menuIcon-container" onclick="showMainMenu()">
            <div class="menuIcon"></div>
            <div class="menuIcon"></div>
            <div class="menuIcon"></div>
        </div>

        <div class="menuList-container">


            <header>
                <img src="~/img/uploads/@ViewBag.ToDisplay.ProfilePic" alt="" onclick="profile()">
                <h2 onclick="postSalePartialHandler()">Post a sale</h2>
                <button onclick="postSalePartialHandler()">+</button>

            </header>

            <main>
                <h2> <button onclick="profile()"> Profile </button></h2>
                <h2> <button onclick="aboutGarageSallyHandler()"> About Garage Sally </button></h2>
                <h2> <button onclick="privacyPolicyHandler()"> Privacy Policy </button></h2>
                <h2> <button onclick="termsOfServiceHandler()"> Term of Service </button></h2>
                <h2> <button onclick="updatesSupportHandler()"> Updates/Support</button></h2>

                <a href="/logout">Logout</a>
            </main>

            <footer>
                <img src="img/Assets/logoWhite.png" alt="">
                <p>v1.0</p>
            </footer>


        </div>


    </div>

</body>

</html>