<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Menu</title>

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-WGFK1GC4RE"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'G-WGFK1GC4RE');
    </script>

</head>

<body>

    <div class="showMenu-container" id="showMenu">
        <button onclick="showMainMenu()">open menu</button>
    </div>


    <div class="menu-container" id="mainMenu">
        <button onclick="hideMainMenu()">close</button>

        <a href="/logout">Logout</a>

    </div>

</body>

</html>