@using UserLogin.Models
@model User

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Post Garage Sale</title>

    <script>
        $(document).ready(function () {

            $('#postForm').submit(function (event) {
                event.preventDefault();


                let startDate = $('#StartDate').val()
                let startTime = $('#StartTime').val()
                let endTime = $('#EndTime').val()

                let streetnumber = $('#StreetNumber').val()
                let streetname = $('#StreetName').val()
                let city = $('#City').val()
                let state = $('#State').val()
                let zipcode = $('#Zipcode').val()


                var jsonData = {

                    startDate: startDate,
                    startTime: startTime,
                    endTime: endTime,

                    streetnumber: streetnumber,
                    streetname: streetname,
                    city: city,
                    state: state,
                    zipcode: zipcode,


                }

                console.log(jsonData)
                $.ajax({
                    type: "POST",
                    url: '@Url.Action("PostGarageSaleHandler", "Home")',
                    data: jsonData,
                    success: SuccessStatus,
                    error: ErrorStatus,
                    complete: CompleteStatus

                })

            })

            const SuccessStatus = (result) => {
                console.log("Success...", result);
                LoadData();

            };
            const ErrorStatus = (xhr, status, strErr) => {
                console.log("There was an error!");
            };
            const CompleteStatus = (xhr, status) => {
                console.log("Ajax has completed...");
            };


            const LoadData = () => {
                $('#garageSaleList').load("/displayGarageSales #garageSaleList", data => {
                    data = JSON.parse(data);
                    @* console.log("in load", data); *@
                        RenderData(data);
                    @* data = $.parseJSON(data); deprecated*@
                });
            };
            const RenderData = (data) => {
                $.each(data.data, function (i, v) {
                    @* console.log(v) *@
                        @* console.log("id:", v.garageSaleId); *@

                        const TimeFormat = {
                        hour12: true,
                        hour: "numeric",
                        minute: "numeric", seconds: "numeric"
                    }

                    const DateFormat = {
                        weekday: "long",
                        month: "long",
                        day: "numeric"
                    };

                    const CheckDateFormat = {
                        year: "numeric",
                        month: "long",
                        day: "numeric"

                    };

                    let dateFormated = new Date(v.startDate).toLocaleDateString("en-US", DateFormat);
                    let startTimeFormatted = new Date(v.startTime).toLocaleTimeString("en-US", TimeFormat);
                    let endTimeFormatted = new Date(v.endTime).toLocaleTimeString("en-US", TimeFormat);


                    let checkDate = new Date(v.startDate).toLocaleDateString("en-US", CheckDateFormat);
                    let checkToday = new Date().toLocaleDateString("en-US", CheckDateFormat);



                    let garageItemId = v.garageSaleId;

                    if (checkDate < checkToday) {
                        console.log("this event has expired")
                        console.log(checkDate, "<", checkToday)

                    } else {


                        $(`<li id="${garageItemId}">
                    @* <img src="~/img/Assets/postPlaceholder.png" alt=""> *@
                        <section>
                            <header>
                                <h1>${dateFormated}</h1>
                                <h2>${startTimeFormatted}-${endTimeFormatted}</h2>
                            </header>


                            <address>
                                <p>${v.streetNumber} ${v.streetName} </p>
                                <p> ${v.city}  ${v.state} ${v.zipcode}</p>
                            </address>


                            <main>
                                <a href="http://maps.google.com/?q=${v.streetNumber} ${v.streetName}, ${v.state}, ${v.zipcode}" target="blank"><button>Directions</button></a>
                                <button>Check In</button>
                                <p>visited 20</p>
                                <p>check in 5</p>
                            </main>
                        </section>

                    </li>`).prependTo("#garageSaleList");

                    }



                });
            };

        })


    </script>
</head>

<body>

    <div class="postSale-container" id="postSalePartial">
        <button onclick="postSalePartialHandler()"> &lt; back</button>


        @if (Model.AccountType == AccountType.Seller)
        {


            <header>
                <img src="~/img/uploads/@ViewBag.ToDisplay.ProfilePic" alt="" onclick="profile()">
                <h2>@ViewBag.ToDisplay.FirstName</h2>
            </header>


            <aside>
                <button>new sale</button>
                <button>recent post</button>
            </aside>

            <div class="form-postContainer">
                <form id="postForm" asp-action='postSale' method='POST' asp-controller='Home'
                asp-route-id="@ViewBag.ToDisplay.UserId">
                    <header>
                        <h2 class="span2Columns">Date Time:</h2>
                        <input class="span2Columns" id="StartDate" type="date">
                        <label>Start Time:</label>
                        <input id="StartTime" type="time">
                        <label>End Time:</label>
                        <input id="EndTime" type="time">
                    </header>
                    <main>
                        <h2>Location:</h2>
                        <div class="locationHeader">
                            <input id='StreetNumber' type='text' placeholder='street #:'>
                            <input id='StreetName' type='text' placeholder='Street Name: '>
                        </div>
                        <div class="locationFooter">
                            <input id='City' type='text' placeholder='City:'>
                            <input id='State' type='text' placeholder='State:'>
                            <input id='Zipcode' type='text' placeholder='zipecode: '>
                        </div>
                    </main>

                    @* <button type="button" id="submitForm">test ajax</button> *@

                    <input type="submit" value="Post Sale">
                </form>


            </div>



            <footer>
                <img src="img/Assets/logoGray.png" alt="">
                <p>v1.0</p>
            </footer>

        }


        @if (Model.AccountType == AccountType.Buyer)
        {
            <section class="upgrade-container">
                <button>Upgrade Account</button>
                <p class="span2Columns">Upgrade to a FREE seller account and start posting garage sales.</p>

            </section>

        }

    </div>





</body>

</html>