@using UserLogin.Models
@model GarageSale

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Post Garage Sale</title>

    <script>
        $(document).ready(function () {

            $('#postForm').submit(function (event) {
                event.preventDefault();
                alert('button test ajax was click')

                let streetnumber = $('#StreetNumber').val()
                let streetname = $('#StreetName').val()
                let city = $('#City').val()
                let zipcode = $('#Zipcode').val()


                var jsonData = {
                    streetnumber: streetnumber,
                    streetname: streetname,
                    city: city,
                    zipcode: zipcode,


                }

                console.log(jsonData)
                $.ajax({
                    type: "POST",
                    url: '@Url.Action("PostGarageSaleHandler", "Home")',
                    data: jsonData,
                    success: SuccessStatus,
                    error: ErrorStatus,
                    complete: CompleteStatus

                })

            })

            const SuccessStatus = (result) => {
                console.log("Success...", result);
                LoadData();

            };
            const ErrorStatus = (xhr, status, strErr) => {
                console.log("There was an error!");
            };
            const CompleteStatus = (xhr, status) => {
                console.log("Ajax has completed...");
            };


            const LoadData = () => {
                alert("loading data...");
                $('#garageSaleList').load("/displayGarageSales #garageSaleList", data => {
                    data = JSON.parse(data);
                    console.log("in load", data);
                    RenderData(data);
                    @* data = $.parseJSON(data); deprecated*@
                });
            };
            const RenderData = (data) => {
                console.log("user Data", data.data)
                $.each(data.data, function (i, v) {
                    console.log(v)
                    console.log("id:", v.garageSaleId);

                    let garageItemId = v.garageSaleId;

                    $(`<li id="${garageItemId}">

                    @* <img src="~/img/Assets/postPlaceholder.png" alt=""> *@
                    <section>
                        <a>${v.streetNumber} ${v.streetName} ${v.city} ${v.zipcode}</a>
                    </section>
                    <aside>
                        <div id="circleIcon"></div>
                        <div id="circleIcon"></div>
                        <div id="circleIcon"></div>
                    </aside>
                    </li>`).prependTo("#garageSaleList");




                });
            };

        })


    </script>
</head>

<body>

    <h1>Post a garage sale</h1>

    <div class="form-postContainer">
        <main>
            <form id="postForm" asp-action='postSale' method='POST' asp-controller='Home'
                asp-route-id="@ViewBag.ToDisplay.UserId">
                <input asp-for='StreetNumber' type='text' placeholder='street #:'>
                <input asp-for='StreetName' type='text' placeholder='Street Name: '>
                <input asp-for='City' type='text' placeholder='City:'>
                @* <input asp-for='State' type='text' placeholder='State:'> *@
                <input asp-for='Zipcode' type='text' placeholder='zipecode: '>

                @* <button type="button" id="submitForm">test ajax</button> *@

                <input type="submit" value="test ajax">
            </form>
            <button id="userItems">fetch data</button>


        </main>



    </div>



</body>

</html>