<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Post Garage Sale</title>
</head>

<body>

    <h1>Hello, from for postin a new Garage Sale</h1>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Labore pariatur laudantium impedit ab vel ipsum, id rem
        rerum! Illo earum tempore aliquid cumque, debitis odit ea sint tempora culpa ducimus?</p>


</body>

</html>