@using UserLogin.Models
@model List<User>

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile</title>
</head>

<body>
    <div class="profile-container" id="profile">
        <button onclick="profile()"> &lt; back</button>
        <h1>Hello @ViewBag.ToDisplay.Username</h1>
        <img src="~/img/uploads/@ViewBag.ToDisplay.ProfilePic" alt="">

        @* <ul>
            <h2>All users with photo</h2>
            @foreach (var item in ViewBag.AllUsers)
            {
            <li>
            <img src="~/img/uploads/@(item.ProfilePic)" alt="">

            <div>

            <h2>@item.UserId</h2>
            <p>@item.ProfilePic</p>
            </div>

            <header>
            <a>edit</a>
            <a>delete</a>
            </header>

            </li>
            }
            </ul> *@

    </div>



</body>

</html>