@using UserLogin.Models
@model User


<div>

    <form asp-action="UpdateProfile" asp-controller="Home">

        <span asp-validation-for="FirstName"></span>
        <input asp-for="FirstName" placeholder="First name" disabled>

        <span asp-validation-for="LastName"></span>
        <input asp-for="LastName" placeholder="Last name" disabled>

        <span asp-validation-for="Email"></span>
        <input asp-for="Email" placeholder="Email" disabled>

        <span asp-validation-for="Password"></span>
        <input asp-for="Password" placeholder="Password" disabled>

        <span asp-validation-for="Confirm"></span>
        <input asp-for="Confirm" placeholder="Confirm Password" disabled>

        <span asp-validation-for="Zipcode"></span>
        <input asp-for="Zipcode" placeholder="Zipcode" disabled>

    </form>

</div>