body {
	display: grid;
	margin: 0 auto;
}

.grid-container{
	display: grid;
}


h1,
h2,
h3,
p {
	margin: 0;
}

h1{
	font: 2em sans-serif;
}

.span2Columns {
	grid-column: 1/3;
}

input {
	font: 1em sans-serif;
	height: 35px;
	width: auto;
}

.hidden{
	display: none;
}

.userPicSmall{
	height: 70px;
	width: 70px;
	border-radius: 70px;
}



/* placement of container on the gird */
.postSale-container{
	overflow: scroll;
}

.profile-container,
.postSale-container,
.aboutGarageSally-container,
.privacyPolicy-container,
.termsOfService-container,
.updatesSupport-container {
	display: grid;
	row-gap: 10px;
	background: white;
	position: fixed;
	top: 0;
	left: 0;
	box-shadow: 5px 0px 20px rgba(0, 0, 0, 0.501);
	grid-row: 1/2;
	grid-column: 1/2;
	height: 100vh;
	max-width: 35em;
	/* width: 90vw; */
	z-index: 100;
	align-content: flex-start;
	margin-left: -1000px;
	padding: 20px;
}

.profile-container button,
.postSale-container button,
.aboutGarageSally-container button,
.privacyPolicy-container button,
.termsOfService-container button,
.updatesSupport-container button {
	width: 150px;
	height: 50px;
	color: #b936d2;
	text-align: left;
}

.profile-container>img,
.postSale-container img {
	width: 70px;
	height: 70px;
	border-radius: 50px;
	cursor: pointer;
}

.menu-container button {
	color: white;
}

.map-container {
	position: fixed;
	top: 0;
	display: grid;
	grid-row: 1/2;
	grid-column: 1/2;
	height: 100vh;
}

.map-container img {
	height: 100%;
	width: 100vw;
	filter: blur(8px);
	z-index: 0;
}

.allGaragePost-container {
	grid-row: 1/2;
	grid-column: 1/2;
	/* background: rgba(0, 0, 0, 0.549); */
	z-index: 0;
	margin-top: 90px;
}

/* menu styles----------------------------------------------- */

.menu-container {
	display: grid;
	row-gap: 10px;
	grid-template-rows: 40px;
	background: #b936d2;
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.734);
	height: 40px;
	width: 40px;
	position: fixed;
	top: 0;
	left: 0;
	border-radius: 40px;
	margin: 20px;
	padding: 10px;
	overflow: hidden;
	/* border: solid 2px white; */
	/* margin-left: -500px; */
}
.menu-container h2,
.menu-container a {
	font: 1.4em sans-serif;
	color: white;
}

.menuIcon-container {
	display: grid;
	row-gap: 6px;
	border-radius: 40px;
	align-content: center;
	justify-self: left;
}

.menuIcon {
	height: 4px;
	width: 40px;
	border-radius: 10px;
	background: white;
}

.showMenu-container {
	position: fixed;
	top: 0;
	left: 0;
}

/* @media screen and (min-width: 1100px){
    .menu-container{
        width: 20vw;
    }
} */

.menu-container > button {
	height: 40px;
	width: 40px;
	background: none;
	border: 2px solid white;
	font: 1.2em sans-serif;
	color: white;
	border-radius: 40px;
	margin: 20px;
	justify-self: flex-end;
}

.menuList-container {
	display: grid;
	grid-template-rows: 70px;
}

.menuList-container header,
.postSale-container > header {
	display: grid;
	grid-template-columns: 70px 130px 1fr;
	align-items: center;
}

.menuList-container header img,
.postSale-container > header img {
	height: 70px;
	width: 70px;
	border-radius: 50px;
}

.menuList-container header h2,
.postSale-container > header h2 {
	justify-self: center;
	cursor: pointer;
}

.menuList-container > header button {
	font: 1.3em sans-serif;
	width: 35px;
	height: 35px;
	border-radius: 10px;
	border: solid white 2px;
}

.menu-container main {
	display: grid;
	row-gap: 3px;
	align-items: center;
}

.menuList-container footer,
.postSale-container footer,
.logoVersion footer {
	display: grid;
}

.menuList-container footer img,
.postSale-container footer img,
.logoVersion footer img {
	width: 300px;
	height: auto;
	margin: 0 auto;
	justify-self: center;
	align-self: flex-end;
}

.menuList-container footer p {
	justify-self: flex-end;
	color: white;
}

.postSale-container footer p,
.logoVersion footer p {
	justify-self: flex-end;
	color: gray;
}

.postSale-container>aside>button{
	text-align: center;
	padding-bottom: 5px;
	height: auto;
	margin-bottom: 20px;
	margin-top: 20px;
	outline: none;
}

.postSale-container aside button:first-of-type{
	border-bottom: #b936d2 solid 2px;
}

.postSale-container aside:first-child {
	display: grid;
	grid-template-columns: 1fr 1fr;
}

.postSale-container aside:first-child button {
	font: 1.3em sans-serif;
	text-align: center;
	justify-self: center;
	align-self: flex-end;
}

/* post sale form styles------------------------------------------- */
.form-postContainer form {
	display: grid;
	row-gap: 10px;
	margin-top: 10px;
}

.form-postContainer form button{
	background: #b936d2;
	color: white;
	font: 1.3em sans-serif;
	text-align: center;
	border-radius: 20px;
}

.form-postContainer form textarea {
	height: 100px;
}

.form-postContainer form input {
	font: 1em sans-serif;
	height: 35px;
}

.form-postContainer form header {
	display: grid;
	grid-template-columns: 1fr 2fr;
	row-gap: 10px;
	align-items: center;
	
}

.form-postContainer form h2 {
	margin: 0;
	color: #b936d2;
	font: 1.5em sans-serif;
	border-bottom: #b936d2 solid 2px;
}

.form-postContainer form main {
	display: grid;
	row-gap: 10px;
}

.locationHeader {
	display: grid;
	grid-template-columns: 100px 1fr;
	column-gap: 5px;
}

.locationFooter {
	display: grid;
	grid-template-columns: 150px 70px 100px;
	column-gap: 5px;
}

/* All Garage Sales post--------------------------------------------- */

.allGaragePost-container {
	align-items: center;
}

.cardItems {
	display: grid;
	/* background: rgba(0, 0, 0, 0.2); */
	/* height: 97vh; */
	overflow: scroll;
	margin: 0;
	padding: 0;
	/* box-shadow: -5px 10px 13px rgba(0, 0, 0, 0.377); */
	width: auto;
}

.cardItems section {
	display: grid;
	row-gap: 10px;
	width: auto;


}
.cardItems li section button {
	color: white;
	background: #b936d2;
	font: 1.2em sans-serif;
	cursor: pointer;
	padding: 0 10px;
	height: 40px;
	border-radius: 10px;
	width: auto;
}

.cardItems li section main {
	row-gap: 2px;
	display: grid;
	grid-template-columns: 1fr 1fr;
	column-gap: 5px;
	align-items: center;
	padding: 20px;
	padding-top: 0;


}

.cardItems li section main p {
	font: 1em sans-serif;
	color: rgb(177, 177, 177);
}

.cardItems li section footer {
	display: grid;
	row-gap: 5px;
	padding: 0 20px;
	height: 100px;	
	overflow: scroll;
	align-content: flex-start;
}

.cardItems li section footer h3{
	font: 1.3em sans-serif;
	color: rgb(45, 45, 45);

}

.cardItems li section footer p{
	min-width: 270px;

}



.cardItems li section footer :last-child {
	font: 1em sans-serif;
}


.cardItems li section header {
	display: grid;
	background: #b936d2;
	padding: 20px;
	border-radius:  20px 20px 0 0;
	max-height: 50px;

}

.cardItems li section header h1 {
	font: 1.5em sans-serif;
	color:white;
	margin: 0;
}

.cardItems li section header h2 {
	font: 1.1em sans-serif;
	margin: 0;
	color: white;
}



/* Save for later use with maps
.allGaragePost-container ul {
    display: flex;
    float: left;
    overflow-x: scroll;
    overflow-y: hidden;
    scrollbar-width: none;
    padding: 0px;
    margin: 0px;
} */

.allGaragePost-container ul {
	display: grid;
	padding: 0px;
	margin: 0px;
}

.allGaragePost-container ul li {
	/* border: 2px white solid; */
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: auto;
	background: white;
	border-radius: 25px;
	margin-bottom: 20px;
	box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.226);
	width: 310px;
	/* height: 120px; */
	justify-items: center;
	justify-self: center;
}

.allGaragePost-container ul li p {
	margin: 0;
}

.allGaragePost-container > picture img {
	margin: 0;
	padding: 0;
	width: auto;
	height: auto;
}

.allGaragePost-container li aside {
	display: grid;
	justify-content: center;
	align-self: center;
	height: 70px;
	cursor: pointer;
}

#circleIcon {
	height: 13px;
	width: 13px;
	background: #b936d2;
	border-radius: 40px;
}

@media screen and (min-width: 750px) {
	.allGaragePost-container ul {
		grid-template-columns: repeat(2, 1fr);
	}
}

@media screen and (min-width: 1100px) {
	.allGaragePost-container ul {
		grid-template-columns: repeat(4, 1fr);
	}
}

/* @media(screen-spanning: single-fold-vertical) {
    .allGaragePost-container ul {
        background: red;
        grid-template-columns: repeat(2, 1fr) 150px repeat(2, 1fr);
        }
 }

 @media (screen-spanning: single-fold-vertical), (screen-spanning: single-fold-horizontal) {
     ul  {
       background-color: green;
    }
 } */

/* --------------------------------------------- All Garage Sales post */

/* from ------------------------------------------ */

.termsOfService-container,
.privacyPolicy-container {
	overflow: scroll;
}

.termsOfService-container :last-child,
.privacyPolicy-container :last-child {
	height: 100px;
}


/* user info styles------------------------------- */
.userInfo-container{
	display: grid;
	row-gap: 10px;
	justify-content: center;

}

.userInfo-container main form section:first-of-type{
	padding-bottom: 25px;
}

.userInfo-container>header{
	display: grid;
	grid-template-columns: 130px 1fr;
	align-items: center;
	justify-items: center;

}
.userInfo-container header h1{
	font: 1.5em sans-serif;
	justify-self: left;
	max-width: 200px;
	overflow: hidden;
}



.userInfo-container header>button{
	width: auto;
}


.userInfo-container main form{
	display: grid;
	/* grid-template-columns: 100px 1fr; */
	row-gap: 5px;
	column-gap: 5px;
}

.userInfo-container main form section{
	display: grid;
	grid-template-columns: 100px 1fr;
	column-gap: 5px;
	row-gap: 5px;
}

.userInfo-container main form section p,
.upgrade-container p{
	font: 1.5em sans-serif;
	color: #b936d2;
	width: 300px;
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
	line-height: 25px;
}


.userInfo-container main button, 
.upgrade-container button{
	background: #b936d2;
	color: white;
	font: 1em sans-serif;
	text-align: center;
	height: 40px;
	border-radius: 10px;
	margin-top: 5px;
}

.userInfo-container main form h3{
	font: 1em sans-serif;
	text-decoration: underline;
}


.userInfo-container main form footer{
	display: grid;
	grid-template-columns: 100px 50px 149px;
	column-gap: 5px;
}


/* photo notice pop up */

#noticeForm{
	display: grid;
	row-gap: 5px;
}

.notice-container{
	display: none;
	background: rgba(0, 0, 0, 0.612);
	position: fixed;
	top: 0;
	left: 0;
	height: 100vh;
	width: 100vw;
	justify-content: center;
	align-content: center;
}

.notice-container form{
	display: grid;
	background: white;
	max-width: 450px;
	border-radius: 20px;
	margin: 10px;

}


.notice-container form header{
	display: grid;
	row-gap: 10px;
	margin: 20px;
	padding: 10px;
}

.notice-container form header p{
	font: 1.7em sans-serif;
	color: gray;
}

.notice-container footer{
	display: grid;
	grid-template-columns: 1fr 1fr;
}

.notice-container footer button{
	background: rgb(228, 228, 228);
	text-align: center;
	width: auto;
}

.notice-container footer :first-child{
	border-radius: 0 0 0 20px;
	
}


.notice-container footer :last-child{
	border-radius: 0 0 20px 0;
	background: #b936d2;
	color: white;
	
}

.userGarageSales{
	display: none;
	row-gap: 20px;
	width: 20.6em;
}

.userGarageSales ul {
	display: grid;
	row-gap: 20px;
	padding-bottom: 50px;
}

.userGarageSales ul li{
	box-shadow: 0px 5px 10px rgb(0 0 0 / 23%);
	border-radius: 25px;
	width: 95%;
	justify-self: center;

	
}

/* aboutGarageSally */

.aboutGarageSally-container{
	display: grid;
	max-width: 27em;
	overflow: scroll;
}

.aboutGarageSally-container h1{
	justify-self: center;
}

.aboutGarageSally-container header{
	display: grid;
	grid-template-columns: 1fr 2fr;
	column-gap: 5px;
	align-items: center;
}

.aboutGarageSally-container header h2{
	font: 1.5em sans-serif;
}

.aboutGarageSally-container main{
	display: grid;
	row-gap: 25px;
	padding-bottom: 150px;

}

.aboutGarageSally-container main p{
	font: 1.7em sans-serif;
}