body{
    display: grid;
    margin: 0 auto;
}




/* placement of container on the gird */

.profile-container{
    display: grid;
    background: white;
    box-shadow: 5px 0px 20px rgba(0, 0, 0, 0.501);
    grid-row: 1/2;
    grid-column: 1/2;
    height: 100vh;
    width: 43vh;
    z-index: 100;
    align-content: flex-start;
    margin-left: 0px;
    padding:30px;

}

.profile-container button{
    width: 150px;
    height: 50px;
    color: #B936D2;
    text-align: left;
    
}




.menu-container button{
    color: white;


}

.map-container{
    grid-row: 1/2;
    grid-column: 1/2;
    height: 100vh;
}


.map-container img {
    height: 97%;
    width: 100vw;
}

.allGaragePost-container{
    grid-row: 1/2;
    grid-column: 1/2;
    align-self: flex-end;
    /* background: rgba(0, 0, 0, 0.549); */

}



/* menu styles----------------------------------------------- */

.menu-container{
    display: grid;
    row-gap: 10px;
    grid-template-rows: 40px;
    background: #B936D2;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.734);
    height: 40px;
    width: 40px;
    position: fixed;
    top: 0;
    left: 0;
    border-radius: 40px;
    margin: 20px;
    padding: 10px;
    overflow: hidden;
    /* border: solid 2px white; */
    /* margin-left: -500px; */

}
.menu-container h2, a{
    font: 1.4em sans-serif;
    color: white;
}


.menuIcon-container{
    display: grid;
    row-gap: 6px;
    border-radius: 40px;
    align-content: center;
    justify-self: left;
}

.menuIcon{
    height: 4px;
    width: 40px;
    border-radius: 10px;
    background: white;

}

.showMenu-container{
    position: fixed;
    top: 0;
    left: 0;
}



/* @media screen and (min-width: 1100px){
    .menu-container{
        width: 20vw;
    }
} */

.menu-container>button{
    height: 40px;
    width: 40px;
    background: none;
    border: 2px solid white;
    font: 1.2em sans-serif;
    color: white;
    border-radius: 40px;
    margin: 20px;
    justify-self: flex-end;
}



/* All Garage Sales post--------------------------------------------- */


.allGaragePost-container{
    align-items: center;

}

.cardItems {
    display: grid;
    /* background: rgba(0, 0, 0, 0.2); */
    height: auto;
    margin: 0;
    padding: 0;
    /* box-shadow: -5px 10px 13px rgba(0, 0, 0, 0.377); */
    width: auto;

  }
  .cardItems li section p{
      font: 1em sans-serif;
  }

.allGaragePost-container ul {
    display: flex;
    float: left;
    overflow-x: scroll;
    overflow-y: hidden;
    scrollbar-width: none;
    padding: 0px;
    margin: 0px;


}

.allGaragePost-container ul li {
  /* border: 2px white solid; */
  display: grid;
  grid-template-columns: 100px 180px 40px ;
  grid-template-rows: auto;
  background: white;
  margin-left: 20px;
  border-radius: 25px;
  margin-top: 20px;
  margin-bottom: 20px;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.226);
  width: 320px;
  justify-items: center;
  align-items: center;

}


.allGaragePost-container ul li p {
    width: 130px;
}

.allGaragePost-container>picture img {
    margin: 0;
    padding: 0;
    width: auto;
    height: auto;
}


.allGaragePost-container li aside{
    display: grid;
    justify-content: center;
    align-self: center;
    height: 70px;
    cursor: pointer;
}

#circleIcon{
    height: 13px;
    width: 13px;
    background: #B936D2;
    border-radius: 40px;
    
}

.form-postContainer main form{
    display: grid;
    background: red;
}


/* --------------------------------------------- All Garage Sales post */


/* from ------------------------------------------ */



