body{
    display: grid;
    margin: 0 auto;
    max-width: 35em;


}

h1,h2,h3,p{
    margin: 0;
}

.landingPage-container{
    display: grid;
    padding-top: 40px;

}

.landingPage-container>header h1{
    display: none;
}

.landingPage-container>header{
    display: grid;
    justify-items: center;
    z-index: 10;
}

.landingPage-container>header footer{
    display: grid;
    column-gap: 10px;
    padding-top: 20px;

}


.landingPage-container>header footer button{
    background: white;
    border: none;
    height: 40px;
    width: 120px;
    border-radius: 5px;
    color:#B936D2;
    font: 1.3em sans-serif;
    text-decoration: underline;
}

.landingPage-container>main{
    display: grid;

}

.landingPage-container>main section{
    display: grid;
    justify-content: center;
    padding-top: 40px;
    row-gap: 20px;



}


.landingPage-container>main>section>aside{
    background: #B936D2;
    display: grid;
    padding-bottom: 40px;
}

.landingPage-container>main section aside h3{
    color: white;

}



.landingPage-container>main section h2{
    font: 2.3em sans-serif;
    color: #B936D2;
    padding: 0 10px;
}

.landingPage-container>main section p{
    padding: 0 10px;

}



.landingPage-container>main section h3{
    font: 1.9em sans-serif;
    /* text-align: center; */
    padding: 40px;
}


.landingPage-container>picture{
    justify-self: center;
}

.landingPage-container>main section picture img {
    width: auto;
}


.freeAccount-container>aside{
    margin-top: -200px;

}


.sellersAccount-container>picture{
    margin-top: -200px;
    z-index: -1;

}


.info-container h4{
    font: 1.7em sans-serif;
    padding:  0;
    padding-left: 10px;
    margin: 0;
}

.info-container p{
font: 1.7em sans-serif;
margin-top: 20px;

}




/* Desktop version */

@media screen and (min-width: 1100px){
    body{
        max-width: none;
    }

    body main{
        row-gap: 70px;

    }



    .landingPage-container>main section aside h3{
        font-size: 3.3em;

    }




    .landingPage-container>header{
        justify-content: left;
        grid-template-columns: 1fr 2fr;
        padding-left: 5%;
    }

    .landingPage-container>header p{
        font: 1.7em sans-serif;
        padding-top: 10px;
        font-family: cursive;
    }

    .landingPage-container>header footer{
        grid-column: 2/3;
        grid-row: 1/3;
        justify-self: right;
        margin-right: 150px;

    
    }



    .freeAccount-container{
        margin-top: 150px;
        align-items: center;
        display: grid;
        grid-template-columns: 450px 1fr 1fr;



    }

    .freeAccount-container>aside{
        margin-top: 0;
        grid-column: 2/4;
        grid-row: 1/2;
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-items: center;
        height: 450px;
        box-shadow: -3px 0px 3px rgba(0, 0, 0, 0.179);



    }

    .freeAccount-container>picture{
        grid-column: 3/4;
        grid-row: 1/2;
        margin-top: -500px;
    }

    .info-container{
        padding: 40px;
        align-content: center;
        position: relative;
        height: auto;
        padding-top: 150px;
    }


    .userReg-container{
        margin-top: -200px;
    }


    .sellersAccount-container{
        display: grid;
        grid-template-columns: 1fr 1fr 450px;
        align-items: flex-start;
        height: auto;
    }

    .sellersAccount-container>picture{
        grid-column: 1/2;
        grid-row: 1/2;
        margin-top: 200px;
    } 
  

    .sellersAccount-container>aside{
        grid-column: 1/3;
        grid-row: 1/2;
        height: 450px;
        grid-template-columns: 1fr 1fr;
        box-shadow: 3px 0px 3px rgba(0, 0, 0, 0.289);

    }

    .sellersAccount-container>aside h3{
        grid-column: 2/3;
        grid-row: 1/2;
        text-align: left; 
        align-self: center;
        margin-top: -100px;


    }

   


    .sellersForm{
        margin-top: 100px;
    }


  
  
}