body{
    display: grid;
    margin: 0 auto;

}

p{
    font: 1.1em sans-serif;
    color: black;
}

input{
    color: black;
}

 ::-webkit-scrollbar {
    display: none;
  }

.regLog-container{
    width: auto;
    height: auto;
    background: none;
    display: grid;

}
.regLog-container>svg:first-of-type{
    margin-top: -150px;
}

.form-container{
    display: grid;
    background: white;
    width: 320px;
    height: auto;
    box-shadow: 0 0 5px #6621795d;
    padding: 40px;
    padding-bottom: 80px;
    margin: 0 auto;
    z-index: 2;
    border-radius: 10px;
    align-items: flex-start;

}

.form-container form{
    display: grid;
    row-gap: 5px;
}



.form-container form input{
    font: 1em sans-serif;
    padding: 10px;
    height: 20px;
}


.form-container form button{
    font: 1.4em sans-serif;
    background: #B936D2;
    color: white;
    padding: 10px;
    border-radius: 10px;
    border: none;
    margin-top: 10px;
    
}



.regHeader_container{
    display: grid;
    grid-template-columns: 4fr 1fr;
    align-items: center;
  
}

.regHeader_container>h4{
    font: 1.5em sans-serif;
    text-align: left;
    color: #B936D2;
}

.section1-container{
    display: grid;
    row-gap: 5px;
}



.section4-container, .section2-container, .section3-container{
    display: none;
    row-gap: 5px;

}

.section4-container footer,
.section3-container footer,
.section2-container footer{
    display: grid;
    grid-template-columns: 1fr 4fr;
    font: 1em sans-serif;
    column-gap: 7px;
}




.section4-container footer :first-child,
.section3-container footer :first-child,
.section2-container footer :first-child{
    background: lightgray;
}



#login{
    display: none;
}

@media screen and (min-width: 1100px){


.form-container{
    height: 400px;
}
}