/* global styles */

body{
    /* max-width: 45em; */
    margin: 0 auto;
    background: whitesmoke;
    padding: 0;
    display: grid;
}


ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

 ::-webkit-scrollbar{
    display: none;}


