body {
	display: grid;
	margin: 0 auto;
}

.grid-container{
	display: grid;
}


h1,
h2,
h3,
p {
	margin: 0;
}

h1{
	font: 2em sans-serif;
}

.span2Columns {
	grid-column: 1/3;
}

input {
	font: 1em sans-serif;
	height: 35px;
	width: auto;
}

.hidden{
	display: none;
}

.userPicSmall{
	height: 70px;
	width: 70px;
	border-radius: 70px;
}



/* placement of container on the gird */
.postSale-container{
	overflow: scroll;
}

.profile-container,
.postSale-container,
.aboutGarageSally-container,
.privacyPolicy-container,
.termsOfService-container,
.updatesSupport-container {
	display: grid;
	row-gap: 10px;
	background: white;
	position: fixed;
	top: 0;
	left: 0;
	box-shadow: 5px 0px 20px rgba(0, 0, 0, 0.501);
	grid-row: 1/2;
	grid-column: 1/2;
	height: 100vh;
	max-width: 35em;
	/* width: 90vw; */
	z-index: 100;
	align-content: flex-start;
	margin-left: -1000px;
	padding: 20px;
	overflow: scroll;
}

.profile-container button,
.postSale-container button,
.aboutGarageSally-container button,
.privacyPolicy-container button,
.termsOfService-container button,
.updatesSupport-container button {
	width: 170px;
	height: 50px;
	color: #b936d2;
	text-align: left;
}

.profile-container>img,
.postSale-container img {
	width: 70px;
	height: 70px;
	border-radius: 50px;
	cursor: pointer;
}

.menu-container button {
	color: white;
}

.map-container {
	position: fixed;
	top: 0;
	display: grid;
	grid-row: 1/2;
	grid-column: 1/2;
	height: 100vh;
}

.map-container img {
	height: 100%;
	width: 100vw;
	filter: blur(8px);
	z-index: 0;
}



/* menu styles----------------------------------------------- */

.menu-container {
	display: grid;
	row-gap: 10px;
	grid-template-rows: 40px;
	background: #b936d2;
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.734);
	height: 40px;
	width: 40px;
	position: fixed;
	top: 0;
	left: 0;
	border-radius: 40px;
	margin: 20px;
	padding: 10px;
	overflow: hidden;
	/* border: solid 2px white; */
	/* margin-left: -500px; */
}



.menu-container h2,
.menu-container a {
	font: 1.4em sans-serif;
	color: white;
	cursor: pointer;
}

.menuIcon-container {
	display: grid;
	row-gap: 6px;
	border-radius: 40px;
	align-content: center;
	justify-self: left;
	cursor: pointer;
}

.menuIcon {
	height: 4px;
	width: 40px;
	border-radius: 10px;
	background: white;
	cursor: pointer;

}

.showMenu-container {
	position: fixed;
	top: 0;
	left: 0;
}

/* @media screen and (min-width: 1100px){
    .menu-container{
        width: 20vw;
    }
} */

.menu-container > button {
	height: 40px;
	width: 40px;
	background: none;
	border: 2px solid white;
	font: 1.2em sans-serif;
	color: white;
	border-radius: 40px;
	margin: 20px;
	justify-self: flex-end;
}

.menuList-container {
	display: grid;
	margin-top: 20px;
	overflow: scroll;
}
.menu-container main {
	display: grid;
	row-gap: 3px;
	align-items: flex-start;
}

.menuList-container main ul{
	display: grid;
	row-gap: 20px;
}

.menu-container main ul p{
	font: 1em sans-serif;
	text-decoration: underline;
	color: white;
}


.menuList-container main ul li {
	display: grid;
	grid-template-columns: 70px 1fr;
	align-items: center;

}



.menuList-container main ul li img{
	height: 50px;
	width: 50px;
	cursor: pointer;
}

.menuList-container main ul li button {
	font: 2em sans-serif;
	width: 49px;
	height: 49px;
	border-radius: 10px;
	border: solid white 1px;
}

.menuList-container aside{
	padding-top: 20px;
}

.menuList-container aside ul {
	display: grid;
	row-gap: 10px;
}


.menuList-container footer,
.postSale-container footer,
.logoVersion footer {
	display: grid;
}

.menuList-container footer img,
.postSale-container footer img,
.logoVersion footer img {
	width: 220px;
	height: auto;
	margin: 0 auto;
	justify-self: center;
	align-self: flex-end;
}

.menuList-container footer p {
	justify-self: flex-end;
	color: white;
}

.postSale-container footer p,
.logoVersion footer p {
	justify-self: flex-end;
	color: gray;
}

.postSale-container>aside>button{
	text-align: center;
	padding-bottom: 5px;
	height: auto;
	margin-bottom: 20px;
	margin-top: 20px;
	outline: none;
}

.postSale-container aside button:first-of-type{
	border-bottom: #b936d2 solid 2px;
}

.postSale-container aside:first-child {
	display: grid;
	grid-template-columns: 1fr 1fr;
}

.postSale-container aside:first-child button {
	font: 1.3em sans-serif;
	text-align: center;
	justify-self: center;
	align-self: flex-end;
}

/* post sale form styles------------------------------------------- */
.form-postContainer form {
	display: grid;
	row-gap: 10px;
	margin-top: 10px;
}

.form-postContainer form button{
	background: #b936d2;
	color: white;
	font: 1.3em sans-serif;
	text-align: center;
	border-radius: 20px;
}

.form-postContainer form textarea {
	height: 100px;
}

.form-postContainer form input {
	font: 1em sans-serif;
	height: 35px;
}

.form-postContainer form header {
	display: grid;
	grid-template-columns: 1fr 2fr;
	row-gap: 10px;
	align-items: center;
	
}

.form-postContainer form h2 {
	margin: 0;
	color: #b936d2;
	font: 1.5em sans-serif;
	border-bottom: #b936d2 solid 2px;
}

.form-postContainer form main {
	display: grid;
	row-gap: 10px;
}

.locationHeader {
	display: grid;
	grid-template-columns: 100px 1fr;
	column-gap: 5px;
}

.locationFooter {
	display: grid;
	grid-template-columns: 150px 70px 100px;
	column-gap: 5px;
}



/* from ------------------------------------------ */

.termsOfService-container,
.privacyPolicy-container {
	overflow: scroll;
}

.termsOfService-container :last-child,
.privacyPolicy-container :last-child {
	height: 100px;
}


/* user info styles------------------------------- */
.userInfo-container{
	display: grid;
	row-gap: 10px;
	justify-content: center;

}

.userInfo-container main form section:first-of-type{
	padding-bottom: 25px;
}

.userInfo-container>header{
	display: grid;
	grid-template-columns: 130px 1fr;
	align-items: center;
	justify-items: center;

}
.userInfo-container header h1{
	font: 1.5em sans-serif;
	justify-self: left;
	max-width: 200px;
	overflow: hidden;
}



.userInfo-container header>button{
	width: auto;
}


.userInfo-container main form{
	display: grid;
	/* grid-template-columns: 100px 1fr; */
	row-gap: 5px;
	column-gap: 5px;
}

.userInfo-container main form section{
	display: grid;
	grid-template-columns: 100px 1fr;
	column-gap: 5px;
	row-gap: 5px;
}

.userInfo-container main form section p,
.upgrade-container p{
	font: 1.5em sans-serif;
	color: #b936d2;
	width: 300px;
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
	line-height: 25px;
}


.userInfo-container main button, 
.upgrade-container button{
	background: #b936d2;
	color: white;
	font: 1em sans-serif;
	text-align: center;
	height: 40px;
	border-radius: 10px;
	margin-top: 5px;
}

.userInfo-container main form h3{
	font: 1em sans-serif;
	text-decoration: underline;
}


.userInfo-container main form footer{
	display: grid;
	grid-template-columns: 100px 50px 149px;
	column-gap: 5px;
}


/* photo notice pop up */

#noticeForm{
	display: grid;
	row-gap: 5px;
}

.notice-container{
	display: none;
	background: rgba(0, 0, 0, 0.612);
	position: fixed;
	top: 0;
	left: 0;
	height: 100vh;
	width: 100vw;
	justify-content: center;
	align-content: center;
}

.notice-container form{
	display: grid;
	background: white;
	max-width: 450px;
	border-radius: 20px;
	margin: 10px;

}


.notice-container form header{
	display: grid;
	row-gap: 10px;
	margin: 20px;
	padding: 10px;
}

.notice-container form header p{
	font: 1.7em sans-serif;
	color: gray;
}

.notice-container footer{
	display: grid;
	grid-template-columns: 1fr 1fr;
}

.notice-container footer button{
	background: rgb(228, 228, 228);
	text-align: center;
	width: auto;
}

.notice-container footer :first-child{
	border-radius: 0 0 0 20px;
	
}


.notice-container footer :last-child{
	border-radius: 0 0 20px 0;
	background: #b936d2;
	color: white;
	
}

.userGarageSales{
	display: none;
	row-gap: 20px;
	width: 20.6em;
}

.userGarageSales ul {
	display: grid;
	row-gap: 20px;
	padding-bottom: 50px;
}

.userGarageSales ul li{
	box-shadow: 0px 5px 10px rgb(0 0 0 / 23%);
	border-radius: 25px;
	width: 95%;
	justify-self: center;

	
}

/* aboutGarageSally */

.aboutGarageSally-container{
	display: grid;
	max-width: 27em;
	overflow: scroll;
}

.aboutGarageSally-container h1{
	justify-self: center;
}

.aboutGarageSally-container header{
	display: grid;
	grid-template-columns: 1fr 2fr;
	column-gap: 5px;
	align-items: center;
}

.aboutGarageSally-container header h2{
	font: 1.5em sans-serif;
}

.aboutGarageSally-container main{
	display: grid;
	row-gap: 25px;
	padding-bottom: 150px;

}

.aboutGarageSally-container main p{
	font: 1.7em sans-serif;
}


/* multi form */
#multiDayPost{
	display: none;
	height: 70vh;
	row-gap: 10px;
	overflow-y: scroll;
	overflow-x: hidden;
	align-content: flex-start;
	padding-bottom: 20px;

}
#multiDayPost>p{
	padding-right: 10px;
	font: 1.3em sans-serif;
	width: 320px;
}

#multiDayPost>header{
	display: grid;
	column-gap: 10px;
}

#multiDayPost>header>main{
	background: white;
	display: grid;
	grid-template-columns: 70px auto;
	column-gap: 10px;
}


#multiDayPost>header button:first-of-type{
	width: 70px;
	background: #b936d2;
	color: white;
	text-align: center;
	font: 1.3em sans-serif;


}





#multiDayPost form{
	display: grid;
	grid-template-columns:  50px auto;
	column-gap: 10px;

}
#multiDayPost form input{
	background: white;
	border: none;
	text-align: left;
	font: 1.5em sans-serif;
}

#multiDayPost form button{
	width: 40px;
	height: 40px;
	background: #b936d2;
	font: 1.5em sans-serif;
	color: white;
	text-align: center;

}

#OneDayAfterForm{
	margin-left: -120%;
}

#TwoDaysAfterForm{
	margin-left: -220%;
}

#ThreeDaysAfterForm{
	margin-left: -330%;

}

#FourDaysAfterForm{
	margin-left: -440%;

}
#FiveDaysAfterForm{
	margin-left: -550%;

}
#SixDaysAfterForm{
	margin-left: -660%;

}
#SevenDaysAfterForm{
	margin-left: -770%;

}