body{
    display: grid;
    margin: 0 auto;
    max-width: 35em;


}

h1,h2,h3,p{
    margin: 0;
}

.landingPage-container{
    display: grid;
    row-gap: 10px;

}
.landingPage-container>header picture img{
    width: 300px;
}

.landingPage-container>header p{
    font: 1.7em sans-serif;

}

.landingPage-container>header h1{
    display: none;
}



.landingPage-container>header{
    display: grid;
    justify-items: center;
    z-index: 10;
    row-gap: 20px;
}

.landingPage-container>header main{
    display: grid;
    column-gap: 10px;
    padding-top: 20px;
    width: 100%;
}



.landingPage-container>header main button{
    background: white;
    border: none;
    height: 40px;
    border-radius: 5px;
    color:#B936D2;
    font: 1.3em sans-serif;
    text-decoration: underline;
    justify-self: flex-end;
    width: 140px;
}

.landingPage-container>main{
    display: grid;
  
}

.landingPage-container>main>section{
    display: grid;
    justify-content: center;
    row-gap: 20px;



}


.landingPage-container>main>section>aside{
    background: #B936D2;
    display: grid;
    padding-bottom: 40px;
}

.landingPage-container>main section aside h3{
    color: white;

}



.landingPage-container>main section h2{
    font: 3.3em sans-serif;
    color: #B936D2;
    line-height: 45px;

}




.landingPage-container>main section h3{
    font: 1.9em sans-serif;
    /* text-align: center; */
    padding: 40px;
}


.landingPage-container>picture{
    justify-self: center;
}

.landingPage-container>main section picture img {
    width: auto;
}


.freeAccount-container{
    display: grid;
    position: fixed;
    top: 0;
    left: -1000%;
    z-index: 50;
    background: white;
    height: 100vh;
    overflow: scroll;
    padding-top: 20px;
   
}




.sellersAccount-container>picture{
    margin-top: -200px;
    z-index: -1;

}

.info-container{
    display: grid;
    row-gap: 20px;
    padding: 0 30px;
    align-content: center;
}



.info-container h4{
    font: 1.7em sans-serif;
    padding:  0;
    margin: 0;
    padding-top: 20px;

}

.info-container button:first-of-type{
    background: white;
    text-decoration: underline;
    font: 1.7em sans-serif;
    color: #B936D2;
    width: 120px;
    padding: 0;
    text-align: left;

}

.info-container p{
    font: 1.7em sans-serif;
    padding:  0;
    margin: 0;
}




/* Desktop version */

@media screen and (min-width: 1100px){
    body{
        max-width: none;
    }

    body main{
        row-gap: 70px;

    }

    
.freeAccount-container{
 
    padding-top: 120px;
   
}
    .landingPage-container>main{
        display: grid;
        margin-top: 100px;
    
    }



    .landingPage-container>main section aside h3{
        font-size: 3em;

    }





   

    .landingPage-container>header p{
        padding-top: 10px;
        font-family: cursive;
    }




    .freeAccount-container{
        align-items: center;
        display: grid;
        grid-template-columns: 450px 1fr 1fr;



    }

 

    .freeAccount-container>aside{
        margin-top: 0;
        grid-column: 2/4;
        grid-row: 1/2;
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-items: center;
        height: 450px;
        box-shadow: -3px 0px 3px rgba(0, 0, 0, 0.179);



    }

    .freeAccount-container>picture{
        grid-column: 3/4;
        grid-row: 1/2;
        margin-top: -500px;
    }

    .info-container{
        padding: 40px;
        align-content: center;
        position: relative;
        height: auto;
        /* padding-top: 150px; */
    }


    .userReg-container{
        margin-top: -200px;
    }


    .sellersAccount-container{
        display: grid;
        grid-template-columns: 1fr 1fr 450px;
        align-items: flex-start;
        height: auto;
    }

    .sellersAccount-container>picture{
        grid-column: 1/2;
        grid-row: 1/2;
        margin-top: 200px;
    } 
  

    .sellersAccount-container>aside{
        grid-column: 1/3;
        grid-row: 1/2;
        height: 450px;
        grid-template-columns: 1fr 1fr;
        box-shadow: 3px 0px 3px rgba(0, 0, 0, 0.289);

    }

    .sellersAccount-container>aside h3{
        grid-column: 2/3;
        grid-row: 1/2;
        text-align: left; 
        align-self: center;
        margin-top: -100px;


    }

   


    .sellersForm{
        margin-top: 100px;
    }


  
  
}



.search-container{
    display: grid;
    width: 100vw;
    margin: 0 auto;
    padding: 20px 0;

}

.search-container header{
    display: grid;
    row-gap: 10px;
    justify-content: center;

    
}

.search-container header aside{
    margin-left: 10px;
    display: flex;
    column-gap: 10px;
}

.search-container header aside button{
    font: 1.2em sans-serif;
    background: white;
    border: none;

}


.search-container header aside button:first-of-type{
    color: #B936D2;
}






.search-container header form{
    display: grid;
    grid-template-columns: 280px 80px;
    max-width: 370px;
}


.search-container header form  input:last-of-type{
    border: solid 2px rgb(188, 188, 188);
    font: 1em sans-serif;
    padding-left: 15px;
    border-right: none;

}

.search-container header form  input:first-of-type{
    height: 40px;
    font: 1em sans-serif;
    padding-left: 15px;
    border-radius: 10px 0 0 10px;
    border: solid 2px rgb(188, 188, 188);
    border-right: none;
    background: white   ;
    /* box-shadow: 0 0  5px rgba(0, 0, 0, 0.432); */
}


.search-container header form select{
    border: solid 2px rgb(188, 188, 188);
    background: white;


}


.search-container header form button{
    background: #B936D2;
    color: white;
    font: 1em sans-serif;
    border: solid 1px #B936D2;
    border-radius: 0 10px 10px  0;


}


#IndexSearchResults{
    display: none;
    height: auto;
    overflow: scroll;
}





#SearchCityForm{
    display: none;
    grid-template-columns: 200px 80px 80px;

}




@media screen and (min-width: 1100px){

    
}
