body{
    display: grid;
    margin: 0 auto;

}

p{
    font: 1.1em sans-serif;
    color: black;
}

button{
    cursor: pointer;
}

input{
    color: black;
}



 ::-webkit-scrollbar {
    display: none;
  }

.regLog-container{
    width: auto;
    height: auto;
    background: none;
    display: grid;

}
.regLog-container>svg:first-of-type{
    margin-top: -150px;
}

.form-container{
    display: grid;
    background: white;
    width: 320px;
    height: 350px;
    box-shadow: 0 0 5px #6621795d;
    padding: 30px;
    padding-bottom: 80px;
    margin: 0 auto;
    z-index: 2;
    border-radius: 10px;
    align-items: flex-end;

}

.form-container form{
    display: grid;
    row-gap: 5px;
}

#SignInHeight{
    height: 200px;
}



.form-container form input{
    font: 1em sans-serif;
    padding: 10px;
    height: 20px;
}


.form-container form button{
    font: 1.4em sans-serif;
    background: #B936D2;
    color: white;
    padding: 10px;
    border-radius: 10px;
    border: none;
    margin-top: 10px;
    
}



.regHeader_container{
    display: grid;
    grid-template-columns: 4fr 1fr;
    align-items: center;
  
}

.regHeader_container>h4{
    font: 1.5em sans-serif;
    text-align: left;
    color: #B936D2;
}

.section1-container{
    display: grid;
    row-gap: 5px;
}

.section1-container aside{
    display: grid;
    row-gap: 5px;
    /* column-gap: 5px; */
    /* grid-template-columns: 100px 1fr; */
}
/* 
.section1-container aside span{
    grid-column: 1/3;
    grid-row: 1/2;
} */

#SellerSateSelectionList,
#BuyerStateSelectionList{
    height: 45px;
    font: 1em sans-serif;
}


.section4-container, .section2-container, .section3-container{
    display: none;
    row-gap: 5px;

    
}


.section4-container footer,
.section3-container footer,
.section2-container footer{
    display: grid;
    grid-template-columns: 1fr 4fr;
    font: 1em sans-serif;
    column-gap: 7px;
}




.section4-container footer :first-child,
.section3-container footer :first-child,
.section2-container footer :first-child{
    background: lightgray;
}




@media screen and (min-width: 1100px){


.form-container{
    height: 450px;
}
}


.login-container{
    display: grid;
    margin-top: -1500px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 20;
    align-items: center;

}

.form-container{
    grid-row: 1/2;
    grid-column: 1/2;
}

.form-container>button:first-of-type{
    background: none;
    color: #B936D2;
    text-decoration: underline;
    text-align: left;


}
.login-container>button{
    grid-row: 1/2;
    grid-column: 1/2;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.707);

}


.hidden{
    display: none;
}
.section3-container aside{
    display: grid;
    row-gap: 5px;
    /* grid-template-columns: 100px auto; */
    /* column-gap: 5px; */
}

.section3-container p{
    color: #B936D2;
}


label{
    color: black;
}





