/* global styles */

body{
    /* max-width: 45em; */
    margin: 0 auto;
    background: white;
    padding: 0;
    display: grid;
    height: 100vh;
    
}


button{
    cursor: pointer;
    font: 1em sans-serif;
    background: none;
    border: none;
    padding: 0;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

 ::-webkit-scrollbar{
    display: none;}



/* All Garage Sales post--------------------------------------------- */
.allGaragePost-container {
	grid-row: 1/2;
	grid-column: 1/2;
	/* background: rgba(0, 0, 0, 0.549); */
	z-index: 0;
	margin-top: 90px;
}

.allGaragePost-container {
	align-items: center;
}

.cardItems {
	display: grid;
	/* background: rgba(0, 0, 0, 0.2); */
	/* height: 97vh; */
	overflow: scroll;
	margin: 0;
	padding: 0;
	/* box-shadow: -5px 10px 13px rgba(0, 0, 0, 0.377); */
	width: auto;
}

.cardItems section {
	display: grid;
	row-gap: 10px;
	width: auto;


}
.cardItems li section button {
	color: white;
	background: #b936d2;
	font: 1.2em sans-serif;
	cursor: pointer;
	padding: 0 10px;
	height: 40px;
	border-radius: 10px;
	width: auto;
}

.cardItems li section main {
	row-gap: 2px;
	display: grid;
	grid-template-columns: 1fr 1fr;
	column-gap: 5px;
	align-items: center;
	padding: 20px;
	padding-top: 0;


}

.cardItems li section main p {
	font: 1em sans-serif;
	color: rgb(177, 177, 177);
}


.cardItems li section footer {
	display: grid;
	row-gap: 5px;
	padding: 0 20px;
	height: 130px;	
	overflow: scroll;
	align-content: flex-start;
	padding-top: 20px;
}


.cardItems li section footer h3{
	font: 1.3em sans-serif;
	color: rgb(45, 45, 45);

}

.cardItems li section footer p{
	min-width: 270px;

}



.cardItems li section footer p button{
	font: 1em sans-serif;
	color: #b936d2;
	padding: 0;
	text-decoration: underline;
	background: none;
}


.cardItems li section footer :last-child {
	font: 1em sans-serif;
}


.cardItems li section header {
	display: grid;
	background: #b936d2;
	padding: 20px;
	border-radius:  20px 20px 0 0;
	max-height: 50px;

}

.cardItems li section header h1 {
	font: 1.5em sans-serif;
	color:white;
	margin: 0;
}

.cardItems li section header h2 {
	font: 1.1em sans-serif;
	margin: 0;
	color: white;
}



/* Save for later use with maps
.allGaragePost-container ul {
    display: flex;
    float: left;
    overflow-x: scroll;
    overflow-y: hidden;
    scrollbar-width: none;
    padding: 0px;
    margin: 0px;
} */

.allGaragePost-container ul {
	display: grid;
	padding: 0px;
	margin: 0px;
}

.allGaragePost-container ul li {
	/* border: 2px white solid; */
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: auto;
	background: white;
	border-radius: 25px;
	margin-bottom: 20px;
	box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.226);
	width: 310px;
	/* height: 120px; */
	justify-items: center;
	justify-self: center;
}

.allGaragePost-container ul li p {
	margin: 0;
}

.allGaragePost-container > picture img {
	margin: 0;
	padding: 0;
	width: auto;
	height: auto;
}

.allGaragePost-container li aside {
	display: grid;
	justify-content: center;
	align-self: center;
	height: 70px;
	cursor: pointer;
}

#circleIcon {
	height: 13px;
	width: 13px;
	background: #b936d2;
	border-radius: 40px;
}

@media screen and (min-width: 750px) {
	.allGaragePost-container ul {
		grid-template-columns: repeat(2, 1fr);
	}
}

@media screen and (min-width: 1100px) {
	.allGaragePost-container ul {
		grid-template-columns: repeat(4, 1fr);
	}
}

/* @media(screen-spanning: single-fold-vertical) {
    .allGaragePost-container ul {
        background: red;
        grid-template-columns: repeat(2, 1fr) 150px repeat(2, 1fr);
        }
 }

 @media (screen-spanning: single-fold-vertical), (screen-spanning: single-fold-horizontal) {
     ul  {
       background-color: green;
    }
 } */

/* --------------------------------------------- All Garage Sales post */